@use '../style/helper' as *;

$size: 28px;
$component-name: vc-pagination;

@include block($component-name) {
	display: flex;
	font-size: 12px;
	color: #515a6e;
	align-items: center;

	@include clearfix;

	@include element(item) {
		height: $size;
		min-width: $size;
		margin-right: 4px;
		font-family: Arial;
		font-weight: 500;
		line-height: $size;
		text-align: center;
		cursor: pointer;
		background-color: #fff;
		box-sizing: border-box;
		user-select: none;

		@include border('', #dcdee2, 4px);

		span {
			font-family: "Monospaced Number";
			color: #515a6e;
		}

		@include when(jump) {
			&::before, &::after {
				border-color: #0000!important;
			};
		}

		@include when(active) {
			span {
				color: #2d8cf0 !important;
			}

			&::before, &::after {
				border-color: #2d8cf0;
			};
		}

		&:hover {
			span {
				color: #2d8cf0 !important;
			}

			&::before, &::after {
				border-color: #2d8cf0;
			};
		}

		@include when(disabled) {
			color: #ccc;
			cursor: not-allowed;
		}

		@include when(icon) {
			@include flex-cc;

			.vc-icon {
				font-size: 12px;
				transform: scale(0.8);
			}

			&:hover {
				color: #2d8cf0 !important;
			}

			@include when(disabled) {
				color: #ccc;
				cursor: not-allowed;

				&:hover {
					color: #ccc !important;
				}

				&::before, &::after {
					border-color: #ccc;
				};
			}
		}
	}

	@include element(count) {
		display: inline-block;
		height: $size;
		margin-right: 10px;
		line-height: $size;
		white-space: nowrap;
	}

	@include element(size) {
		display: flex;
		margin-left: 15px;
		align-items: center;
	}

	@include element(elevator) {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}
}