@use '../style/helper' as *;

$size: unitfix(32);
$foreground: varfix(foreground-color, pagination);
$primary: varfix(color-primary-light, pagination);
$selected-background: varfix(color-primary-lighter, pagination);
$disabled: varfix(color-dark-extralight, pagination);
$component-name: vc-pagination;

@include block($component-name) {
	display: flex;
	font-size: unitfix(13);
	color: $foreground;
	align-items: center;

	@include clearfix;

	@include element(item) {
		height: $size;
		min-width: $size;
		margin-right: unitfix(8);
		font-family: Arial;
		font-weight: 500;
		line-height: $size;
		text-align: center;
		cursor: pointer;
		border-radius: unitfix(8);
		box-sizing: border-box;
		user-select: none;

		span {
			font-family: "Monospaced Number";
			color: inherit;
		}

		@include when(jump) {
			&::before, &::after {
				border-color: transparent!important;
			};
		}

		@include when(active) {
			background-color: $selected-background;

			span {
				color: $primary !important;
			}

			&::before, &::after {
				border-color: $selected-background;
			};
		}

		&:hover {
			background-color: $selected-background;

			span {
				color: $primary !important;
			}

			&::before, &::after {
				border-color: $primary;
			};
		}

		@include when(disabled) {
			color: $disabled;
			cursor: not-allowed;
		}

		@include when(icon) {
			@include flex-cc;

			.vc-icon {
				font-size: unitfix(12);
				transform: scale(0.8);
			}

			&:hover {
				color: $primary !important;
			}

			@include when(disabled) {
				color: $disabled;
				cursor: not-allowed;

				&:hover {
					color: $disabled !important;
					background-color: transparent;
				}

				&::before, &::after {
					border-color: $disabled;
				};
			}
		}
	}

	@include element(count) {
		display: inline-block;
		height: $size;
		margin-right: unitfix(10);
		line-height: $size;
		white-space: nowrap;
	}

	@include element(size) {
		display: flex;
		align-items: center;
	}

	@include element(elevator) {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	@include element(sizer) {
		width: unitfix(110);
		margin-right: unitfix(10);
	}

	@include element(input) {
		width: unitfix(50);
		margin-right: unitfix(10);
		margin-left: unitfix(10);
	}
}
