@use '../../style/helper' as *;

$background-color: varfix(background-color-light, radio);
$border-color: varfix(color-dark-extralight, radio);
$color-success: varfix(color-success, radio);
$check-color: varfix(check-color, radio, #fff);
$border-color-disabled: varfix(color-light-deepest, radio);
$background-color-disabled: varfix(background-color, radio);
$foreground-color-disabled: varfix(color-dark-extralight, radio);
$focus-color: varfix(focus-color, radio, rgb(38 190 118 / 20%));
$component-name: vcm-radio;

@include block($component-name) {
	position: relative;
	display: inline-block;
	margin-right: unitfix(24);
	font-size: unitfix(16);
	line-height: 1;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;

	@include element(wrapper) {
		position: relative;
		display: inline-block;
		line-height: 1;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;

		@include when(sibling, true) {
			margin-right: unitfix(12);
		}

		input {
			position: absolute;
			inset: 0;
			z-index: 1;
			width: unitfix(16);
			height: unitfix(16);
			cursor: pointer;
			opacity: 0;
		}
	}

	@include element(border) {
		position: relative;
		top: 0;
		left: 0;
		display: inline-block;
		width: unitfix(16);
		height: unitfix(16);
		background-color: $background-color;
		border-radius: 50%;
		transition: all .2s ease-in-out;

		@include border('', $border-color, 50%);
	}

	@include element(inner) {
		position: absolute;
		top: unitfix(2);
		left: unitfix(5); // 有效
		display: table;
		width: unitfix(6);
		height: unitfix(10);
		border: unitfix(2) solid $check-color;
		border-collapse: initial;
		border-top: 0;
		border-left: 0;
		content: '';
		transform: rotate(45deg) scale(0);
		box-sizing: border-box;
		transition: all .2s ease-in-out;
	}

	@include when(checked) {
		@include element(border) {
			background-color: $color-success;

			&::before, &::after{
				border-color: $color-success;
			}
		}

		@include element(inner) {
			transform: rotate(45deg) scale(1);
		}
	}

	@include when(disabled) {
		cursor: not-allowed;

		input {
			cursor: not-allowed;
		}

		@include element(border){
			&::before, &::after{
				border-color: $border-color-disabled;
			}

			background-color: $background-color-disabled;
		}

		@include element(inner) {
			background-color: $foreground-color-disabled;
			animation-name: none;
		}

		@include when(checked) {
			@include element(border) {
				animation-name: none;

				&::before, &::after{
					border-color: $foreground-color-disabled;
				}
			}
		}
	}

	@include when(focus) {
		@include element(border){
			z-index: 1;
			box-shadow: 0 0 0 unitfix(2) $focus-color;
		}
	}
}
