@use '../../style/helper' as *;

$component-name: vcm-radio;

@include block($component-name) {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;

	@include element(wrapper) {
		position: relative;
		display: inline-block;
		line-height: 1;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;

		@include when(sibling, true) {
			margin-right: 12px;
		}

		input {
			position: absolute;
			inset: 0;
			z-index: 1;
			width: 16px;
			height: 16px;
			cursor: pointer;
			opacity: 0;
		}
	}

	@include element(border) {
		position: relative;
		top: 0;
		left: 0;
		display: inline-block;
		width: 16px;
		height: 16px;
		background-color: #fff;
		border-radius: 50%;
		transition: all .2s ease-in-out;

		@include border('', #999, 50%);
	}

	@include element(inner) {
		position: absolute;
		top: 2px;
		left: 5px; // 有效
		display: table;
		width: 6px;
		height: 10px;
		border: 2px solid #fff;
		border-collapse: initial;
		border-top: 0;
		border-left: 0;
		content: '';
		transform: rotate(45deg) scale(0);
		box-sizing: border-box;
		transition: all .2s ease-in-out;
	}

	@include when(checked) {
		@include element(border) {
			background-color: #26be76;

			&::before, &::after{
				border-color: #26be76;
			}
		}

		@include element(inner) {
			transform: rotate(45deg) scale(1);
		}
	}

	@include when(disabled) {
		cursor: not-allowed;

		input {
			cursor: not-allowed;
		}

		@include element(border){
			&::before, &::after{
				border-color: #d4d7db;
			}

			background-color: #f4f5f4;
		}

		@include element(inner) {
			background-color: #ccc;
			animation-name: none;
		}

		@include when(checked) {
			@include element(border) {
				animation-name: none;

				&::before, &::after{
					border-color: #ccc;
				}
			}
		}
	}

	@include when(focus) {
		@include element(border){
			z-index: 1;
			box-shadow: 0 0 0 2px rgb(38 190 118 / 20%);
		}
	}
}
