@use '../../style/helper' as *;

$component-name: vcm-radio-group;

@include block($component-name) {
	display: inline-block;
	font-size: unitfix(16);
	line-height: unset;

	@include when(vertical) {
		.vcm-radio {
			display: block;
			height: unitfix(24);
			line-height: unitfix(24);
		}
	}
}
