@use '../style/helper' as *;

$component-name: vc-table;

@include block($component-name) {
	position: relative;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	font-size: 12px;
	color: #515151;
	background-color: #fff;
	box-sizing: border-box;
	flex: 1;

	.vc-table__th, .vc-table__td {
		position: relative;
		min-width: 0;
		padding: 12px 0;
		text-align: left;
		text-overflow: ellipsis;
		vertical-align: middle;
		box-sizing: border-box;

		@include when(center) {
			text-align: center;
		}

		@include when(right) {
			text-align: right;
		}

		&.is-hidden {
			> * {
				visibility: hidden;
			}
		}
	}

	.vc-table__tr {
		display: flex;
		background-color: #fff;

		input[type="checkbox"] {
			margin: 0;
		}
	}

	.vc-table__th.is-leaf, .vc-table__td {
		border-bottom: 1px solid #ebeef5;
	}

	.vc-table__td {
		&:first-child {
			padding-left: 12px;
		}

		&:last-child {
			padding-right: 12px;
		}
	}

	.vc-table__th.is-sortable {
		cursor: pointer;
	}

	.vc-table__th {
		padding: 7px 0;
		overflow: hidden;
		white-space: nowrap;
		background-color: #fff;
		border-top: 1px solid #ebeef5;
		border-bottom: 1px solid #ebeef5;
		user-select: none;

		&:first-child {
			padding-left: 12px;
		}

		&:last-child {
			padding-right: 12px;
		}

		> .vc-table__cell {
			position: relative;
			display: inline-block;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			overflow: hidden;
			line-height: 30px;
			text-overflow: ellipsis;
			word-wrap: normal;
			white-space: nowrap;
			vertical-align: middle;
			box-sizing: border-box;

			&.highlight {
				color: #409eff;
			}
		}

		&.required > div::before {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin-right: 5px;
			vertical-align: middle;
			background: #ff4d51;
			border-radius: 50%;
			content: "";
		}
	}

	// 拥有多级表头
	@include modifier((group, border)) {
		border: 1px solid #ebeef5;

		@include share-rule(border-pseudo) {
			position: absolute;
			z-index: 1;
			background-color: #ebeef5;
			content: "";
		}

		// 表格右部伪 border
		&::after {
			@include extend-rule(border-pseudo);

			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
		}
	}

	// 表格底部伪 border，总是有的
	&::before {
		@include extend-rule(border-pseudo);

		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
	}

	// 数据为空
	@include element(empty-block) {
		display: flex;
		width: 100%;
		height: 100%;
		min-height: 60px;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	@include element(empty-text) {
		width: 50%;
		line-height: 60px;
		color: #909399;
	}

	// 展开行
	@include element(expand-column) {
		.vc-table__cell {
			padding: 0;
			text-align: center;
		}
	}

	@include element(expand-icon) {
		display: inline-block;
		width: 20px;
		height: 23px;
		font-size: 12px;
		line-height: 23px;
		color: #666;
		cursor: pointer;

		.vc-icon {
			transform: rotate(90deg);
			transition: transform 0.2s ease-in-out;
		}

		@include when(expand) {
			.vc-icon {
				transform: rotate(180deg);
			}
		}
	}

	@include element(expanded-cell) {
		background-color: #fff;

		// 纯属为了增加权重
		&[class*="cell"] {
			padding: 20px 50px;
		}

		&:hover {
			background-color: transparent !important;
		}
	}

	@include element(placeholder) {
		display: inline-block;
		width: 23px;
	}
	
	@include element(append-wrapper) {
		// 避免外边距重合 https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
		overflow: hidden;
	}

	@include element(cell) {
		padding-right: 10px;
		padding-left: 10px;
		overflow: hidden;
		line-height: 23px;
		text-overflow: ellipsis;
		word-break: break-all;
		white-space: normal;
		box-sizing: border-box;

		&.vc-popover {
			min-width: 50px;
			white-space: nowrap;
		}

		.vc-table-un-expand__indent {
			padding-left: 23px;
		}
	}

	@include modifier(medium) {
		.vc-table__th, .vc-table__td {
			padding: 10px 0;
		}
	}

	@include modifier(small) {
		font-size: 12px;

		.vc-table__th, .vc-table__td {
			padding: 8px 0;
		}
	}

	@include modifier(mini) {
		font-size: 12px;

		.vc-table__th, .vc-table__td {
			padding: 6px 0;
		}
	}

	@include element((header, body, footer)) {
		border-collapse: separate;
		table-layout: fixed;
	}

	@include element(header) {
		.vc-table__thead .vc-table__tr .vc-table__th {
			color: #000;
			background-color: #f4f4f4;
		}

		.vc-table__thead {
			font-weight: 500;
			box-sizing: border-box;

			&.is-group {
				.vc-table__th {
					background: #f9f9f9;
				}
			}
		}
	}

	@include element((header-wrapper, body-wrapper, footer-wrapper)) {
		width: 100%;
	}

	@include element((header-wrapper, footer-wrapper)) {
		overflow: hidden;

		& .vc-table__tbody .vc-table__td {
			color: #606266;
			background-color: #f9f9f9;
		}
	}

	@include element(footer-wrapper) {
		margin-top: -1px;

		.vc-table__td {
			border-top: 1px solid #ebeef5;
		}
	}

	@include element(hidden) {
		position: absolute;
		z-index: -1;
		visibility: hidden;
	}

	@include element(body) {
		overflow: hidden;

		.vc-table__tr.hover-row {
			&, &.vc-table__row--striped {
				&, &.current-row {
					> .vc-table__td {
						background: #f9f9f9;
					}
				}
			}
		}

		.vc-table__tr.current-row > .vc-table__td {
			background: #f9f9f9;
		}
	}

	@include element(body-wrapper) {
		position: relative;
		overflow: hidden;

		@include when(scrolling-none) {
			~ .vc-table__fixed,
			~ .vc-table__fixed-right {
				box-shadow: none;
			}
		}

		@include when(scrolling-left) {
			~ .vc-table__fixed {
				box-shadow: none;
			}
		}

		@include when(scrolling-right) {
			~ .vc-table__fixed-right {
				box-shadow: none;
			}
		}

		.vc-table--border {
			@include when(scrolling-right) {
				~ .vc-table__fixed-right {
					border-left: 1px solid #ebeef5;
				}
			}

			@include when(scrolling-left) {
				~ .vc-table__fixed {
					border-right: 1px solid #ebeef5;
				}
			}
		}
	}

	@include element((fixed, fixed-right)) {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		box-shadow: 0 0 10px rgb(0 0 0 / 12%);

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 4;
			width: 100%;
			height: 1px;
			background-color: #ebeef5;
			content: "";
		}
	}

	@include element(fixed-right) {
		top: 0;
		right: 0;
		left: auto;

		.vc-table__fixed-header-wrapper,
		.vc-table__fixed-body-wrapper,
		.vc-table__fixed-footer-wrapper {
			right: 0;
			left: auto;
		}
	}

	@include element(fixed-header-wrapper) {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}

	@include element(fixed-footer-wrapper) {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;

		& .vc-table__tbody .vc-table__td {
			color: #606266;
			background-color: #f9f9f9;
			border-top: 1px solid #ebeef5;
		}
	}

	@include element(fixed-body-wrapper) {
		position: absolute;
		top: 37px;
		left: 0;
		z-index: 3;
		overflow: hidden;
	}

	@include element(column-resize-proxy) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 200px;
		z-index: 10;
		width: 0;
		border-left: 1px solid #ebeef5;
	}


	@include modifier(fit) {
		border-right: 0;
		border-bottom: 0;
	}

	@include modifier(scrollable-x) {
		.vc-table__body-wrapper {
			overflow: hidden;
		}
	}

	@include modifier(striped) {
		& .vc-table__body {
			& .vc-table__tr.vc-table__row--striped {
				.vc-table__td {
					background: #fafafa;
				}

				&.current-row .vc-table__td {
					background: #f9f9f9;
				}
			}
		}
	}

	// table--border
	@include modifier(border) {
		border-right: none;
		border-bottom: none;

		&.vc-loading-parent--relative {
			border-color: transparent;
		}

		.vc-table__th, .vc-table__td {
			border-right: 1px solid #ebeef5;

			&:first-child .vc-table__cell {
				padding-left: 10px;
			}
		}

		.vc-table__th {
			border-bottom: 1px solid #ebeef5;

			&:first-child {
				border-left: 1px solid #ebeef5;
			}
		}
	}

	@include modifier(hidden) {
		visibility: hidden;
	}

	@include modifier(enable-row-transition) {
		.vc-table__body td {
			transition: background-color 0.25s ease;
		}
	}

	@include modifier(enable-row-hover) {
		.vc-table__body .vc-table__tr:hover > .vc-table__td {
			background-color: #f9f9f9;
		}
	}

	@include modifier(fluid-height) {
		.vc-table__fixed,
		.vc-table__fixed-right {
			bottom: 0;
			overflow: hidden;
		}
	}

	[class*="vc-table__row--level"] {
		.vc-table__expand-icon {
			display: inline-block;
			width: 20px;
			height: 20px;
			min-width: 20px;
			margin-right: 3px;
			line-height: 20px;
			text-align: center;
		}
	}
}

// border 下去掉边框
.vc-table.vc-table--border .vc-table__th {
	border-top: none;

	&:first-child {
		border-left: none;
	}
}

.vc-table-column--selection .vc-table__cell {
	padding-right: 14px;
	padding-left: 14px;
}


.vc-table .vc-recycle-list__scroll-state {
	display: none;
}

.vc-table > div.vc-scroller-track {
	z-index: 5;
}


.vc-table .vc-recycle-list__wrapper {
	overflow: hidden;
}