@use '../style/helper' as *;

$color-primary: varfix(color-primary, table-sort);
$color-primary-light: varfix(color-primary-light, table-sort);
$border-color: varfix(border-color, table-sort, #666);

@include block(vc-table-sort) {
	position: relative;
	display: inline-flex;
	width: 14px;
	height: 20px;
	overflow: initial;
	vertical-align: middle;
	cursor: pointer;
	flex-direction: column;
	align-items: center;

	@include element(icon) {
		position: absolute;
		left: 3px;
		width: 0;
		height: 0;
		border: 5px solid transparent;

		@include modifier(ascending) {
			top: -2px;
			border-bottom-color: $border-color;
		}

		@include modifier(descending) {
			bottom: 0;
			border-top-color: $border-color;
		}

		@include when(ascending) {
			border-bottom-color: $color-primary;
		}

		@include when(descending) {
			border-top-color: $color-primary;
		}
	}
}