@use '../style/helper' as *;

$color-contrast-light: varfix(color-contrast-light, tag);
$color-error: varfix(color-error, tag);
$color-light-deep: varfix(color-light-deep, tag);
$color-light-deepest: varfix(color-light-deepest, tag);
$color-neutral-light: varfix(color-neutral-light, tag);
$color-primary: varfix(color-primary, tag);
$color-success: varfix(color-success, tag);
$color-warning: varfix(color-warning, tag);
$background-color-light: varfix(background-color-light, tag);
$background-color-lightest: varfix(background-color-lightest, tag);
$foreground-color: varfix(foreground-color, tag);
$component-name: vc-tag;

@mixin tag-theme($light) {
	.vc-tag {
		background-color: if(sass($light): $color-light-deep; else: $background-color-light);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		@include tag-theme(true);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		@include tag-theme(false);
	}
}

[data-vc-theme="light"] {
	@include tag-theme(true);
}

[data-vc-theme="dark"] {
	@include tag-theme(false);
}

@include block($component-name) {
	position: relative;
	display: inline-flex;
	height: 22px;
	margin: 2px 4px 2px 0;
	overflow: hidden;
	font-size: 12px;
	line-height: 22px;
	color: $foreground-color;

	/**
	 * 居中对齐
	 * @type {[type]}
	 */
	vertical-align: middle;
	cursor: pointer;
	background: $color-light-deep;
	border-radius: 3px;
	box-sizing: border-box;

	@include border('', $color-neutral-light, 3);

	@include element(wrapper) {
		display: flex;
		padding: 0 8px;
		align-items: center;
	}

	@include element(close) {
		font-size: 12px;
		line-height: inherit;
		transform: scale(0.7);
	}

	@include element(dot) {
		position: relative;
		display: flex;
		width: 10px;
		height: 10px;
		margin-right: 6px;
		background: $color-light-deepest;
		border-radius: 50%;
	}
	
	@include when(default) {
		@include when(success) {
			color: $color-contrast-light;
			background: $color-success;

			&::after, &::before {
				border-color: $color-success;
			}
		}

		@include when(primary) {
			color: $color-contrast-light;
			background: $color-primary;

			&::after, &::before {
				border-color: $color-primary;
			}
		}

		@include when(warning) {
			color: $color-contrast-light;
			background: $color-warning;

			&::after, &::before {
				border-color: $color-warning;
			}
		}

		@include when(error) {
			color: $color-contrast-light;
			background: $color-error;

			&::after, &::before {
				border-color: $color-error;
			}
		}
	}

	@include when(border) {
		height: 24px;
		line-height: 24px;
		background: $background-color-lightest;

		@include when(success) {
			color: $color-success;

			&::after, &::before {
				border-color: $color-success;
			}
		}

		@include when(primary) {
			color: $color-primary;

			&::after, &::before {
				border-color: $color-primary;
			}
		}

		@include when(warning) {
			color: $color-warning;

			&::after, &::before {
				border-color: $color-warning;
			}
		}

		@include when(error) {
			color: $color-error;

			&::after, &::before {
				border-color: $color-error;
			}
		}

		@include when(white) {
			color: $color-contrast-light;

			&::after, &::before {
				border-color: $color-contrast-light;
			}
		}

		@include element(close) {
			margin-left: 18px!important;
		}
	}

	@include when(dot) {
		height: 28px;
		padding: 0 10px;
		line-height: 28px;
		background: $background-color-lightest;

		@include when(success) {
			@include element(dot) {
				background: $color-success;
			}
		}

		@include when(primary) {
			@include element(dot) {
				background: $color-primary;
			}
		}

		@include when(warning) {
			@include element(dot) {
				background: $color-warning;
			}
		}

		@include when(error) {
			@include element(dot) {
				background: $color-error;
			}
		}

		@include when(white) {
			@include element(dot) {
				background: $color-contrast-light;
			}
		}

		@include element(close) {
			margin-left: 12px;
		}
	}

	@include when(unchecked) {
		color: $foreground-color !important;
		background: $background-color-lightest !important;

		&::after, &::before {
			border-color: $background-color-lightest !important;
		}
	}
}
