@use '../style/helper' as *;

$component-name: vc-tag;
$color-success: varfix(color-success, tag);
$color-error: varfix(color-error, tag);
$color-warning: varfix(color-warning, tag);
$color-primary: varfix(color-primary, tag);
$background-color: varfix(background-color, tag);
$background-color-light: varfix(background-color-light, tag);
$foreground-color: varfix(foreground-color, tag);
$color-on-emphasis: varfix(color-on-emphasis, tag, #fff);
$border-color: varfix(color-light-deeper, tag);
$dot-color: varfix(color-light-deepest, tag);

@include block($component-name) {
	position: relative;
	display: inline-flex;
	height: 22px;
	margin: 2px 4px 2px 0;
	overflow: hidden;
	font-size: 12px;
	line-height: 22px;
	color: $foreground-color;

	/**
	 * 居中对齐
	 * @type {[type]}
	 */
	vertical-align: middle;
	cursor: pointer;
	background: $background-color;
	border-radius: 3px;
	box-sizing: border-box;

	@include border('', $border-color, 3);

	@include element(wrapper) {
		display: flex;
		padding: 0 8px;
		align-items: center;
	}

	@include element(close) {
		font-size: 12px;
		line-height: inherit;
		transform: scale(0.7);
	}

	@include element(dot) {
		position: relative;
		display: flex;
		width: 10px;
		height: 10px;
		margin-right: 6px;
		background: $dot-color;
		border-radius: 50%;
	}
	
	@include when(default) {
		@include when(success) {
			color: $color-on-emphasis;
			background: $color-success;

			&::after, &::before {
				border-color: $color-success;
			}
		}

		@include when(primary) {
			color: $color-on-emphasis;
			background: $color-primary;

			&::after, &::before {
				border-color: $color-primary;
			}
		}

		@include when(warning) {
			color: $color-on-emphasis;
			background: $color-warning;

			&::after, &::before {
				border-color: $color-warning;
			}
		}

		@include when(error) {
			color: $color-on-emphasis;
			background: $color-error;

			&::after, &::before {
				border-color: $color-error;
			}
		}
	}

	@include when(border) {
		height: 24px;
		line-height: 24px;
		background: $background-color-light;

		@include when(success) {
			color: $color-success;

			&::after, &::before {
				border-color: $color-success;
			}
		}

		@include when(primary) {
			color: $color-primary;

			&::after, &::before {
				border-color: $color-primary;
			}
		}

		@include when(warning) {
			color: $color-warning;

			&::after, &::before {
				border-color: $color-warning;
			}
		}

		@include when(error) {
			color: $color-error;

			&::after, &::before {
				border-color: $color-error;
			}
		}

		@include when(white) {
			color: $color-on-emphasis;

			&::after, &::before {
				border-color: $color-on-emphasis;
			}
		}

		@include element(close) {
			margin-left: 18px!important;
		}
	}

	@include when(dot) {
		height: 28px;
		padding: 0 10px;
		line-height: 28px;
		background: $background-color-light;

		@include when(success) {
			@include element(dot) {
				background: $color-success;
			}
		}

		@include when(primary) {
			@include element(dot) {
				background: $color-primary;
			}
		}

		@include when(warning) {
			@include element(dot) {
				background: $color-warning;
			}
		}

		@include when(error) {
			@include element(dot) {
				background: $color-error;
			}
		}

		@include when(white) {
			@include element(dot) {
				background: $color-on-emphasis;
			}
		}

		@include element(close) {
			margin-left: 12px;
		}
	}

	@include when(unchecked) {
		color: $foreground-color !important;
		background: $background-color-light !important;

		&::after, &::before {
			border-color: $background-color-light !important;
		}
	}
}
