@use '../style/helper' as *;

$color-neutral-light: varfix(color-neutral-light, button-group);

@include block(vc-button-group) {
	display: inline-block;
	border-radius: unitfix(8);

	@include block(vc-button) {
		position: relative;
		display: block;
		float: left;
		margin-left: -1px;

		&:not(:only-child) {
			border-radius: 0;
		}

		@include when(with-icon) {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:first-child {
			border-bottom-left-radius: inherit;
			border-top-left-radius: inherit;
		}

		&:last-child {
			border-top-right-radius: inherit;
			border-bottom-right-radius: inherit;
		}

		&:only-child {
			border-radius: inherit;
		}

		&:hover {
			z-index: 2;
		}
	}

	@include block(vc-button) {
		@include when(default) {
			border-color: $color-neutral-light;
		}
	}

	@include when(small) {
		border-radius: unitfix(3);
	}

	@include when(vertical) {
		@include block(vc-button) {
			float: none;
			width: 100%; // button 元素即使 display: block 也按内容收缩
			margin-top: -1px;
			margin-left: 0;

			&:first-child {
				border-top-right-radius: inherit;
				border-bottom-left-radius: 0;
			}

			&:last-child {
				border-top-right-radius: 0;
				border-bottom-left-radius: inherit;
			}

			&:only-child {
				border-radius: inherit;
			}
		}
	}

	@include when(circle) {
		border-radius: unitfix(30);

		@include when(large) {
			border-radius: unitfix(36);
		}

		@include when(small) {
			border-radius: unitfix(24);
		}
	}
}
