@use '../style/helper' as *;

@include block(vc-button-group) {
	display: inline-block;

	@include block(vc-button) {
		position: relative;
		display: block;
		float: left;
		margin-left: -1px;
		border-radius: 0;

		&:first-child {
			border-bottom-left-radius: unitfix(8);
			border-top-left-radius: unitfix(8);
		}

		&:last-child {
			border-top-right-radius: unitfix(8);
			border-bottom-right-radius: unitfix(8);
		}

		&:hover {
			z-index: 2;
		}
	}

	@include block(vc-button) {
		@include when(default) {
			border-color: #d9d9d9;
		}
	}


	@include when(large) {
		@include block(vc-button) {
			padding: unitfix(8) unitfix(16);
			font-size: unitfix(14);

			&:first-child {
				border-radius: unitfix(8) 0 0 unitfix(8);
			}

			&:last-child {
				border-radius: 0 unitfix(8) unitfix(8) 0;
			}
		}
	}

	@include when(small) {
		@include block(vc-button) {
			padding: unitfix(2) unitfix(8);
			font-size: unitfix(12);

			&:first-child {
				border-radius: unitfix(3) 0 0 unitfix(3);
			}

			&:last-child {
				border-radius: 0 unitfix(3) unitfix(3) 0;
			}
		}
	}

	@include when(vertical) {
		@include block(vc-button) {
			float: none;
			margin-top: -1px;
			margin-left: 0;

			&:first-child {
				border-radius: unitfix(4) unitfix(4) 0 0;
			}

			&:last-child {
				border-radius: 0 0 unitfix(4) unitfix(4);
			}
		}

		@include when(circle) {
			@include block(vc-button) {
				&:first-child {
					border-radius: unitfix(36) unitfix(36) 0 0; 
				}

				&:last-child {
					border-radius: 0 0 unitfix(36) unitfix(36); 
				}
			}

			@include when(large) {
				@include block(vc-button) {
					&:first-child {
						border-radius: unitfix(36) unitfix(36) 0 0; 
					}

					&:last-child {
						border-radius: 0 0 unitfix(36) unitfix(36); 
					}
				}
			}

			@include when(small) {
				@include block(vc-button) {
					&:first-child {
						border-radius: unitfix(24) unitfix(24) 0 0; 
					}

					&:last-child {
						border-radius: 0 0 unitfix(24) unitfix(24); 
					}
				}
			}
		}
	}

	@include when(circle) {
		@include block(vc-button) {
			&:first-child {
				border-radius: unitfix(30) 0 0 unitfix(30); 
			}

			&:last-child {
				border-radius: 0 unitfix(30) unitfix(30) 0;
			}
		}

		@include when(large) {
			@include block(vc-button) {
				&:first-child {
					border-radius: unitfix(36) 0 0 unitfix(36); 
				}

				&:last-child {
					border-radius: 0 unitfix(36) unitfix(36) 0;
				}
			}
		}

		@include when(small) {
			@include block(vc-button) {
				&:first-child {
					border-radius: unitfix(24) 0 0 unitfix(24); 
				}

				&:last-child {
					border-radius: 0 unitfix(24) unitfix(24) 0;
				}
			}
		}
	}
}