@use '../style/helper' as *;

$color-dark-extralight: varfix(color-dark-extralight, radio);
$color-error: varfix(color-error, radio);
$color-light-deepest: varfix(color-light-deepest, radio);
$color-primary: varfix(color-primary, radio);
$color-primary-lighter: varfix(color-primary-lighter, radio);
$background-color: varfix(background-color, radio);
$background-color-lightest: varfix(background-color-lightest, radio);
$component-name: vc-radio;

// 控制高度32px
@include block($component-name) {
	position: relative;
	display: inline-flex;
	padding: unitfix(6) 0;
	margin-right: unitfix(24);
	font-size: unitfix(12);
	line-height: unitfix(20);
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	align-items: center;

	@include element(wrapper) {
		position: relative;
		display: inline-flex;
		line-height: inherit;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;

		@include when(sibling, true) {
			margin-right: unitfix(4);
		}

		input {
			position: absolute;
			inset: 0;
			z-index: 1;
			cursor: pointer;
			opacity: 0;
		}
	}

	@include element(border) {
		position: relative;
		top: 0;
		left: 0;
		display: inline-flex;
		width: unitfix(14);
		height: unitfix(14);
		background-color: $background-color-lightest;
		transition: all .2s ease-in-out;

		@include border('', $color-light-deepest, 50%);
	}

	@include element(inner) {
		position: absolute;
		top: unitfix(3);
		left: unitfix(3);
		display: table;
		width: unitfix(8);
		height: unitfix(8);
		background-color: $color-primary;
		border-top: 0;
		border-left: 0;
		border-radius: unitfix(6);
		content: ' ';
		opacity: 0;
		transform: scale(0);
		transition: all .2s ease-in-out;
	}

	@include when(checked) {
		@include element(border) {
			&::before, &::after{
				border-color: $color-primary;
			}
		}

		@include element(inner) {
			opacity: 1;
			transform: scale(1);
			transition: all .2s ease-in-out;
		}
	}

	@include when(disabled) {
		cursor: not-allowed;

		input {
			cursor: not-allowed;
		}

		@include element(border){
			&::before, &::after{
				border-color: $color-light-deepest;
			}

			background-color: $background-color;
		}

		@include element(inner) {
			background-color: $color-dark-extralight;
			animation-name: none;
		}

		@include when(checked) {
			@include element(inner) {
				animation-name: none;

				&::before, &::after{
					border-color: $color-dark-extralight;
				}
			}
		}
	}

	@include when(error) {
		@include element(border) {
			&::before, &::after{
				border-color: $color-error;
			}
		}
	}

	@include when(focus) {
		@include element(border){
			z-index: 1;
			box-shadow: 0 0 0 unitfix(2) $color-primary-lighter;
		}
	}
}
