@use '../style/helper' as *;

$foreground-color: varfix(color-dark-lightest, radio-group);
$background-color: varfix(background-color-light, radio-group);
$border-color: varfix(color-light-deepest, radio-group);
$color-primary: varfix(color-primary, radio-group);
$foreground-color-disabled: varfix(color-dark-extralight, radio-group);
$background-color-disabled: varfix(background-color, radio-group);
$focus-color: varfix(color-primary-lighter, radio-group);
$component-name: vc-radio-group;
$size: unitfix(32);

@include block($component-name) {
	display: inline-flex;
	font-size: unitfix(12);
	line-height: unset;

	@include when(vertical) {
		flex-direction: column;

		.vc-radio {
			display: block;
			height: unitfix(30);
			line-height: unitfix(30);
		}
	}

	@include when(button) {
		flex-direction: row;
		font-size: 0; // 去除间距
		.vc-radio {
			position: relative;
			display: inline-flex;
			height: $size;
			padding: 0 unitfix(12);
			margin: 0;
			font-size: unitfix(12);
			line-height: $size;
			color: $foreground-color;
			cursor: pointer;
			background: $background-color;
			border: unitfix(1) solid $border-color;
			border-left: 0;
			transition: all .2s ease-in-out;

			&:hover {
				position: relative;
				color: $color-primary;
			}

			&.is-disabled {
				color: $foreground-color-disabled;
				cursor: not-allowed;
				background-color: $background-color-disabled;
				border-color: $border-color;
			}

			> span {
				margin-left: 0;
			}

			&:first-child {
				border-left: unitfix(1) solid $border-color;
				border-radius: unitfix(4) 0 0 unitfix(4);
			}

			&.is-checked:first-child {
				border-color: $color-primary;
				box-shadow: none;
			}

			&:last-child {
				border-radius: 0 unitfix(4) unitfix(4) 0;
			}

			&.is-checked:last-child {
				border-color: $color-primary;
				box-shadow: unitfix(-1) 0 0 0 $color-primary;
			}

			&.is-checked {
				z-index: 1;
				color: $color-primary;
				background: $background-color;
				border-color: $color-primary;
				box-shadow: unitfix(-1) 0 0 0 $color-primary;
			}

			&.is-focus {
				box-shadow: unitfix(-1) 0 0 0 $color-primary, 0 0 0 unitfix(2) $focus-color;
				transition: all .2s ease-in-out;
			}
		}

		.vc-radio__border, input {
			width: 0;
			height: 0;
			opacity: 0;
		}

		.vc-radio__wrapper {
			width: 0;
			margin-right: 0;
		}
	}
}
