@use '../style/helper' as *;

$color-primary: varfix(color-primary, button);
$color-dark-extralight: varfix(color-dark-extralight, button);
$color-error: varfix(color-error, button);
$component-name: vc-radio-button;

// 控制高度32px
@include block($component-name) {
	position: relative;
	display: inline-flex;
	padding: 3px 0;
	margin-right: 4px;
	font-size: 12px;
	line-height: 20px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;

	input {
		position: absolute;
		inset: 0;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
	}

	@include element(label) {
		display: flex;
		min-width: none;
		min-height: 26px;
		padding: 0 8px;
		background: #EDF0F2;
		border-radius: 6px;
		align-items: center;

		@include border('', #EDF0F2, 6);
	}

	&:hover {
		color: $color-primary;

		@include element(label) {
			&::before, &::after{
				border-color: $color-primary;
			}
		}
	}

	@include when(checked) {
		color: $color-primary;

		@include element(label) {
			&::before, &::after{
				border-color: $color-primary;
			}

			font-weight: 500;
		}
	}

	@include when(disabled) {
		color: $color-dark-extralight;
		cursor: not-allowed;

		input {
			cursor: not-allowed;
		}

		@include element(label) {
			&::before, &::after{
				border-color: #EDF0F2;
			}
		}

		@include when(checked) {
			@include element(label) {
				font-weight: 500;
				color: $color-primary;

				&::before, &::after{
					border-color: $color-primary;
				}
			}
		}
	}

	@include when(error) {
		@include element(label) {
			color: $color-error;

			&::before, &::after{
				border-color: $color-error;
			}
		}
	}
}