@use '../style/helper' as *;

$component-name: vc-cascader;
$color-dark-extralight: varfix(color-dark-extralight, cascader);

@include block($component-name) {
	position: relative;
	display: inline-flex;
	width: 100%;
	line-height: 1;
	cursor: text;

	@include element(input) {
		cursor: pointer;

		input {
			cursor: pointer;
		}

		.vc-input__append {
			z-index: 0;
		}
	}

	@include element(append) {
		position: relative;
		padding: 0 unitfix(10) 0 unitfix(2);
		font-size: unitfix(12);
		line-height: unitfix(32);
		color: $color-dark-extralight;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
	}

	@include element(icon) {
		@include when(arrow) {
			transform: scale(0.8);
		}
	}

	// 默认不换行
	@include element(content) {
		display: flex;
		flex-wrap: nowrap;
	}
}
