@use '../style/helper' as *;

$component-name: vc-cascader-column;
$color-dark-lighter: varfix(color-dark-lighter, cascader-column);
$color-primary: varfix(color-primary, cascader-column);
$color-primary-lighter: varfix(color-primary-lighter, cascader-column);
$color-light-deeper: varfix(color-light-deeper, cascader-column);

@include block($component-name) {
	display: inline-block;
	padding: unitfix(5) 0!important;
	margin: 0;

	@include border(right, $color-light-deeper);

	&:last-child {
		&::before, &::after {
			display: none;
		}
	}

	@include element(wrapper) {
		height: unitfix(180);
		min-width: unitfix(100);
		overflow: auto;
	}

	@include element(item) {
		display: flex;
		padding: unitfix(7) unitfix(16);
		font-size: unitfix(12)!important;
		line-height: unitfix(16);
		color: $color-dark-lighter;
		white-space: nowrap;
		cursor: pointer;
		justify-content: space-between;
		align-items: center;

		@include when(select) {
			color: $color-primary;
			background-color: $color-primary-lighter;
		}
	}

	@include element(icon) {
		transform: scale(0.7);
	}

	@include element(loading) {
		margin-right: unitfix(5);
	}
}
