@import '../style/helper.scss';

$component-name: vc-form;
$component-item-name: vc-form-item;

$foreground-color: varfix(foreground-color, form);
$background-color-light: varfix(background-color-light, form);
$color-dark-light: varfix(color-dark-light, form);
$color-error: varfix(color-error, form);
$color-error: varfix(color-error, form);

@include block($component-name) {
	padding: unitfix(24) 0;
	background: $background-color-light;
	color: $foreground-color;
}

@include block($component-item-name) {
	margin-bottom: unitfix(24);
	line-height: 1.5;
	@include clearfix();
	@include element(content) { 
		position: relative;
		line-height: unitfix(18);
		font-size: 12px
	} 
	@include element(label) { 
		text-align: right;
		vertical-align: middle;
		float: left;
		color: $color-dark-light;
		font-size: 12px;
		line-height: unitfix(18);
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}
	/**
	 * -> vc-form-item.is_require
	 */
	& {
		@include when(require) {
			@include element(label) {
				&:before {
					content: '*';
					display: inline-block;
					margin-right: 4px;
					line-height: 1;
					font-family: SimSun;
					font-size: 12px;
					color: $color-error;
				}
			}
		}
		
		@include element(tip) {
			position: absolute;
			top: 100%;
			left: 0;
			line-height: 1;
			padding-top: unitfix(6);

			@include when(nest) {
				position: unset;
				top: unset;
				left: unset;
				line-height: unset;
				padding-top: unset;
				display: inline-block;
				padding-left: unitfix(6);
			}
		}



		// 可单独设置颜色
		@include element(error) {
			color: $color-error;
		}

		@include when(left) {
			@include element(label) {
				text-align: left
			}
		}

		@include when(top) {
			@include element(label) {
				float: none;
				display: inline-block;
				padding: 0 0 unitfix(10) 0
			}
		}
		/**
		 * 此模式下需要删除label
		 */
		@include when(inline) {
			display: inline-block;
			margin-right: unitfix(10);
			vertical-align: top
		}
	}
	/**
	 * 嵌套管理
	 */
	@include block(vc-form-item) {
		@include when(nest) {
			margin-bottom: 0;
		}
		@include element(wrapper, false) {
			margin-left: 0 !important;
		}
	}
}