@use '../style/helper' as *;

$component-name: vc-form;
$component-item-name: vc-form-item;
$foreground-color: varfix(foreground-color, form);
$background-color-light: varfix(background-color-light, form);
$color-dark-light: varfix(color-dark-light, form);
$color-error: varfix(color-error, form);
$color-error: varfix(color-error, form);

@include block($component-name) {
	padding: unitfix(24) 0;
	color: $foreground-color;
	background: $background-color-light;
}

@include block($component-item-name) {
	margin-bottom: unitfix(24);
	line-height: 1.5;

	// @include clearfix;

	@include element(content) {
		position: relative;
		font-size: 12px;
		line-height: unitfix(20);
	}

	@include element(label) {
		float: left;
		padding: unitfix(6) unitfix(8) unitfix(6) 0;
		font-size: 13px;
		font-weight: 500;
		line-height: unitfix(20);
		color: $color-dark-light;
		text-align: right;
		vertical-align: middle;
		box-sizing: border-box;
	}

	@include share-rule(form-error-tip) {
		display: inline-block;
		margin-right: 4px;
		font-family: SimSun;
		font-size: 12px;
		line-height: 1;
		color: $color-error;
		content: '*';
	}

	@include when(required) {
		> {
			@include element(label) {
				&::before {
					@include extend-rule(form-error-tip);
				}
			}
		}

		@include when(top) {
			> {
				@include element(label) {
					&::before {
						display: none;
					}

					&::after {
						@include extend-rule(form-error-tip);
					}
				}
			}
		}
	}

	@include element(tip) {
		position: absolute;
		top: 100%;
		left: 0;
		padding-top: unitfix(6);
		line-height: 1;

		@include when(nested) {
			position: unset;
			top: unset;
			left: unset;
			display: inline-block;
			padding-top: unset;
			padding-left: unitfix(6);
			line-height: unset;
		}
	}



	// 可单独设置颜色
	@include element(error) {
		color: $color-error;
	}

	@include when(left) {
		@include element(label) {
			text-align: left;
		}
	}

	@include when(top) {
		@include element(label) {
			display: inline-block;
			float: none;
			padding: 0 0 unitfix(6);
		}

		@include when(nested) {
			@include element(tip) {
				position: absolute;
				top: 100%;
				left: 0;
				padding-top: 6px;
				padding-left: 0;
				line-height: 1;
			}
		}
	}

	/**
	 * 此模式下需要删除label
	 */
	@include when(inline) {
		display: inline-block;
		margin-right: unitfix(10);
		vertical-align: top;
	}

	@include when(alone) {
		margin-bottom: 0;
	}

	/**
	 * 嵌套管理
	 */
	@include block(vc-form-item) {
		@include when(nested) {
			margin-bottom: 0;
		}

		@include element(wrapper, false) {
			margin-left: 0 !important;
		}
	}
}
