@use '../style/helper' as *;

$component-name: vc-textarea;
$background-color-light: varfix(background-color-light, textarea);
$color-light-deeper: varfix(color-light-deeper, textarea);
$color-error: varfix(color-error, textarea);
$color-primary: varfix(color-primary, textarea);
$color-primary-lighter: varfix(color-primary-lighter, textarea);
$color-dark-lighter: varfix(color-dark-lighter, textarea);
$color-dark-light: varfix(color-dark-light, textarea);
$color-dark-extralight: varfix(color-dark-extralight, textarea);
$color-light-deep: varfix(color-light-deep, textarea);
$foreground-color: varfix(foreground-color, textarea);
$color-disabled: varfix(color-disabled, textarea);

@include block($component-name) {
	position: relative;
	display: inline-flex;
	width: 100%;
	min-height: unitfix(32);
	font-size: unitfix(12);
	line-height: 1.5;
	vertical-align: middle;
	cursor: text;
	background-color: $background-color-light;
	border-radius: unitfix(8);
	transition: border .2s ease-in-out, 
		background .2s ease-in-out, 
		box-shadow .2s ease-in-out;

	@include border('', $color-light-deeper, 8); // 不占边距

	@include when(focus) {
		&::after, &::before {
			border-color: $color-primary;
		}

		z-index: 2;
		box-shadow: 0 0 unitfix(1) unitfix(1) $color-primary-lighter;
	}

	@include when(error) {
		&::after, &::before {
			border-color: $color-error;
			box-shadow: none;
		}

		z-index: 2;
	}

	&:hover {
		border-color: $color-primary;
	}

	@include element(wrapper) {
		position: relative;
		display: flex;
		border-radius: unitfix(8);
		flex: 1;
		align-items: center;
	}

	@include element(content){
		flex: 1;
		align-items: center;

		textarea {
			position: relative;
			width: 100%;
			min-height: unitfix(32);
			padding: unitfix(7);
			overflow: auto;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			color: $color-dark-light;
			border: none;
			outline: 0;
			box-sizing: border-box;	
			resize: vertical; // 形式拖拽按钮 

			&::placeholder {
				color: $color-dark-extralight;
			}
		}
	}

	@include element(indicator) {
		position: absolute;
		right: 0;
		bottom: unitfix(-18);
		height: unitfix(18);
		line-height: unitfix(18);
		color: $color-dark-extralight;

		@include when(inline) {
			right: unitfix(4);
			bottom: unitfix(0);
		}
	}

	@include when(disabled) {
		@include element(content){
			cursor: not-allowed;
			background-color: $color-disabled;
			opacity: 1;

			// color: #ccc;
			// hack需要设置
			textarea {
				cursor: not-allowed;
				background-color: $color-disabled;
			}
		}
	}
}