@import '../../style/helper';

$component-name: vcm-input;
$background-color-light: varfix(background-color-light, input);
$color-dark-light: varfix(color-dark-light, input);
$color-dark-extralight: varfix(color-dark-extralight, input);
$foreground-color: varfix(foreground-color, input);

@include block($component-name) {
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 24px;
	line-height: 1.5;
	cursor: text;
	background-color: $background-color-light;

	@include element(wrapper) {
		display: flex;
		align-items: center;
		flex: 1;
	}

	@include element(content) {
		flex: 1;

		input {
			position: relative;
			width: 100%;
			padding-right: 7px;
			padding-left: 7px;
			font-family: inherit;
			font-size: inherit;
			font-size: 16px;
			line-height: inherit;
			color: $color-dark-light;
			background-color: unset;
			border: none;
			outline: 0;
			box-sizing: border-box;

			&::placeholder {
				color: $color-dark-extralight;
			}

			&[disabled] {
				color: $color-dark-extralight;
				cursor: not-allowed;
				opacity: 1;
			}

			&::-webkit-search-cancel-button {
				display: none;
			}
		}

		@include when(right) {
			input {
				color: $color-dark-extralight;
				text-align: right;
			}
		}
	}

	@include share-rule(m-input-icon) {
		font-size: 16px;
		color: $color-dark-extralight;
		text-align: left;
	}

	/**
	 * clear
	 */
	@include element(icon-clear){
		@include extend-rule(m-input-icon);

		display: none;
		line-height: inherit;
	}

	@include pseudo(hover) {
		@include element(icon-clear){
			display: block;
		}
	}

	/**
	 * prepend/ append
	 */
	
	@include share-rule(m-input-pend) {
		z-index: 3;
		height: 100%;
		line-height: inherit;
		text-align: center;
		white-space: nowrap;

		@include when(icon) {
			width: 16px;
			font-size: 12px;
			color: $foreground-color;
			background-color: $background-color-light;
		}
	}
	
	/**
	 * prepend / append
	 */
	@include element(prepend) {
		@include extend-rule(m-input-pend);
	}

	@include element(append) {
		@include extend-rule(m-input-pend);
	}
}