@use '../../style/helper' as *;

$component-name: vcm-input-search;
$size: 54px;
$background-color-light: varfix(background-color-light, input);
$color-dark-extralight: varfix(color-dark-extralight, input);
$foreground-color: varfix(foreground-color, input);

@include block($component-name) {
	display: flex;
	align-items: center;
	height: $size;
	padding: 10px;

	.vcm-input {
		height: 34px;
	}

	.vcm-input__prepend {
		line-height: 34px;
	}

	@include element(content) {
		padding-right: 14px;
		overflow: hidden;
		background: $background-color-light;
		border-radius: 16px;

		input {
			padding-top: 6px ;
			padding-bottom: 5px;
			font-size: 14px;

			&::placeholder {
				font-size: 15px;
				color: $color-dark-extralight;
			}
		}

		@include element(icon){
			margin-left: 14px;
			font-size: 15px;
			color: $color-dark-extralight;
		}

		@include when(focus) {
			input {
				text-align: left;
			}
		} 
	}

	@include element(btn){
		height: $size;
		padding-left: 8px;
		font-size: 15px;
		line-height: $size;
		color: $foreground-color;
		text-align: right;
		white-space: nowrap;
	}
}
