@use '../../style/helper' as *;

$component-name: vcm-input-number;
$background-color: varfix(background-color, input);
$color-light-extradeep: varfix(color-light-extradeep, input);
$color-primary-light: varfix(color-primary-light, input);
$color-dark-extralight: varfix(color-dark-extralight, input);
$color-light-deep: varfix(color-light-deep, input);
$background-color-active: varfix(background-color-active, input, varfix(color-primary-lighter, input));
$foreground-color-disabled: varfix(foreground-color-disabled, input, varfix(color-light-extradeep, input));

@include block($component-name) {
	width: auto;

	@include share-rule(m-input-number-icon) {
		display: block;
		width: 28px;
		height: 28px;
		line-height: 28px;
		color: $color-dark-extralight;
		text-align: center;
		cursor: pointer;
		background-color: $background-color;

		&[disabled] {
			color: $foreground-color-disabled;
			cursor: not-allowed;
			opacity: .8;
		}

		&:active {
			background-color: $background-color-active;
		}
	}
	
	@include share-rule(absolute) {
		position: absolute;
		inset: 0;
		margin: auto;
		background-color: currentcolor;
	}

	@include element(plus) {
		position: relative;
		border-radius: 0 2px 2px 0;

		@include extend-rule(m-input-number-icon);

		&::before {
			@include extend-rule(absolute);

			width: 11px;
			height: 2px;
			content: '';
		}

		&::after {
			@include extend-rule(absolute);

			width: 2px;
			height: 11px;
			content: '';
		}
	}

	@include element(minus) {
		position: relative;
		border-radius: 2px 0 0 2px;

		@include extend-rule(m-input-number-icon);

		&::before {
			@include extend-rule(absolute);

			width: 11px;
			height: 2px;
			content: '';
		}
	}

	@include when(disabled) {
		opacity: 0.8;
	}

	input {
		width: 49px;
		height: 28px;
		padding: 0 3px;
		margin: 0 1px;
		font-size: 13px;
		text-align: center;
		background-color: $background-color;
		border-radius: 0; // 不加的话ios端默认带圆角
		outline: none;
	}
}
