@use '../style/helper' as *;

$color-dark-lighter: varfix(color-dark-lighter, alert);
$color-error: varfix(color-error, alert);
$color-primary: varfix(color-primary, alert);
$color-success: varfix(color-success, alert);
$color-warning: varfix(color-warning, alert);
$background-color-light: varfix(background-color-light, alert);
$background-color-lightest: varfix(background-color-lightest, alert);
$component-name: vc-alert;

@mixin alert-type($type-color, $border-color, $background-color) {
	background-color: $background-color;
	border-color: $border-color;

	@supports (color: color-mix(in srgb, black, white)) {
		& {
			background-color: color-mix(in srgb, #{$type-color} 8%, #{$background-color-lightest});
			border-color: color-mix(in srgb, #{$type-color} 40%, #{$background-color-lightest});
		}
	}

	@include element((icon, desc)) {
		color: $type-color;
	}

	@include element(message) {
		> em {
			color: $type-color;
		}
	}

	@include when(desc, true) {
		@include element(title) {
			color: $type-color;
		}
	}
}

@include block($component-name) {
	position: relative;
	min-height: unitfix(32);
	padding: unitfix(4) unitfix(10);
	overflow: hidden;
	font-size: unitfix(14);
	color: $color-dark-lighter;
	border-style: solid;
	border-width: unitfix(1);
	border-radius: unitfix(4);
	box-sizing: border-box;

	@include element(icon) {
		position: absolute;
		top: unitfix(15);
		left: unitfix(12);
		font-size: unitfix(16);
		transform: translate3d(0, -50%, 0);
	}

	@include when(icon, true) {
		padding-left: unitfix(38);
	}

	@include when(desc, true) {
		padding: unitfix(8) unitfix(8) unitfix(8) unitfix(44);
		font-size: unitfix(13);

		@include element(icon) {
			top: unitfix(20);
			font-size: unitfix(20);
		}

		@include element(title) {
			margin-bottom: unitfix(5);
			font-size: unitfix(15);
			font-weight: 500;
		}
	}

	@include element(content) {
		display: flex;
	}

	@include element(message) {
		flex: 1;

		> em {
			margin: 0 unitfix(3);
			font-style: normal;
		}
	}

	@include element(desc) {
		opacity: 0.7;
	}

	@include element(close) {
		margin: 0 unitfix(4) 0 unitfix(12);
		font-size: unitfix(10);
		cursor: pointer;
	}

	@include when(info) {
		@include alert-type($color-primary, $color-primary, $background-color-light);
	}

	@include when(success) {
		@include alert-type($color-success, $color-success, $background-color-light);
	}

	@include when(error) {
		@include alert-type($color-error, $color-error, $background-color-light);
	}

	@include when(warning) {
		@include alert-type($color-warning, $color-warning, $background-color-light);
	}
}
