@use '../style/helper' as *;

$color-contrast-light: varfix(color-contrast-light, tree);
$color-dark-lighter: varfix(color-dark-lighter, tree);
$color-dark-lightest: varfix(color-dark-lightest, tree);
$color-dark-extralight: varfix(color-dark-extralight, tree);
$color-primary: varfix(color-primary, tree);
$color-primary-lighter: varfix(color-primary-lighter, tree);
$background-color-lightest: varfix(background-color-lightest, tree);
$background-color-primary-light: varfix(background-color-primary-light, tree);
$component-name: vc-tree;

@include block($component-name) {
	position: relative;
	font-size: unitfix(12);
	color: $color-dark-lighter;
	cursor: default;
	background: $background-color-lightest;

	@include element(empty-block) {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: unitfix(60);
		text-align: center;
	}

	@include element(empty-text) {
		position: absolute;
		top: 50%;
		left: 50%;
		color: $color-dark-extralight;
		transform: translate(-50%, -50%);
	}

	@include element(drop-indicator) {
		position: absolute;
		right: 0;
		left: 0;
		height: 1px;
		background-color: $color-primary;
	}
}

@include block(vc-tree-node) {
	white-space: nowrap;
	outline: none;

	&:focus { /* focus */
		> .vc-tree-node__content {
			background-color: $color-primary-lighter;
		}
	}

	@include when(drop-inner) {
		> .vc-tree-node__content .vc-tree-node__label {
			color: $color-contrast-light;
			background-color: $color-primary;
		}
	}

	@include element(content) {
		display: flex;
		align-items: center;
		height: unitfix(26);
		cursor: pointer;

		& > .vc-tree-node__expand-icon {
			padding: unitfix(6);
		}

		&:hover,
		.vc-tree-node:focus > &:hover {
			background-color: $background-color-primary-light;
		}

		.vc-tree.is-dragging & {
			cursor: move;

			& * {
				pointer-events: none;
			}
		}

		.vc-tree.is-dragging.is-drop-not-allow & {
			cursor: not-allowed;
		}
	}

	@include element(expand-icon) {
		font-size: unitfix(12);
		color: $color-dark-lightest;
		cursor: pointer;

		.vc-icon {
			transform: rotate(90deg);
			transition: transform 0.2s ease-in-out;
		}

		&.is-expand {
			.vc-icon {
				transform: rotate(180deg);
			}
		}

		&.is-leaf {
			color: transparent;
			cursor: default;
		}
	}

	@include element(loading-icon) {
		margin-right: unitfix(8);
		font-size: unitfix(14);
		color: $color-dark-extralight;
	}

	& > .vc-tree-node__children {
		overflow: hidden;
		background-color: transparent;
	}

	&.is-expanded > .vc-tree-node__children {
		display: block;
	}
}

.vc-tree--highlight-current .vc-tree-node.is-current > .vc-tree-node__content {
	background-color: $color-primary-lighter;

	&:hover {
		background-color: $background-color-primary-light;
	}
}
