@use '../style/helper' as *;

$component-name: vc-recycle-list;

@include block($component-name) {
	position: relative;
	height: 100%;
	overflow: hidden; /* 配合vc-scroller让window系统下滚动时，不出现滚动条 */

	@include element(container) {
		height: 100%;
		transition: transform 300ms ease-out;
	}

	@include element(pull) {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		line-height: 30px;
		transition: transform 300ms ease-out;
	}

	// core
	@include element(wrapper) {
		position: relative;
		height: 100%;
		overflow: hidden auto;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
	}

	@include element(pool) {
		position: absolute;
		top: -1000px;
		width: 100%;
		visibility: hidden;
		box-sizing: border-box;
	}

	@include element(transition) {
		width: 100%;
		opacity: 0;
		transition-duration: .5s;
		transition-property: opacity;
	}

	@include element(column) {
		display: inline-block;
		width: 100%;
		vertical-align: top; 
		box-sizing: border-box;
	}

	@include element(content) {
		width: 100%;
	}

	// scroll-state
	@include element(loading) {
		display: flex;
		padding: 10px 0;
		justify-content: center;
	}

	@include element(center) {
		line-height: 20px;
		text-align: center;
	}

	@include element(finish) {
		padding: 10px 0;
	}

	@include element(empty) {
		padding: 10px 0;
	}


	@include when(horizontal) {
		text-align: unset !important; // 如果外面设置了center, 会严重影响到内部inline-flex

		@include element(wrapper) {
			overflow: auto hidden;

			.vc-scroller__content {
				display: inline-flex;
				height: 100%;
			}
		}

		@include element(pool) {
			display: flex;

			@include element(hidden) {
				flex-shrink: 0;
				height: 100%;
			}
		}

		@include element(column) {
			position: relative;
			display: inline-flex;
			width: unset;
			height: 100%;	
		}

		@include element(content) {
			width: unset;
			height: 100%;
			flex-shrink: 0;
		}

		@include element(pull) {
			top: 0;
			right: unset;
			bottom: 0;
			left: 0;
			display: flex;
			justify-content: center;
			writing-mode: vertical-rl;
		}

		@include element(scroll-state) {
			display: flex;
			padding: 0 10px;
			align-items: center;
		}
	}	
}