@import '../style/helper';

$component-name: vc-recycle-list;

@include block($component-name) {
	// container
	position: relative;
	overflow: hidden; /* 配合vc-scroller让window系统下滚动时，不出现滚动条 */

	@include element(container) {
		height: 100%;
		transition: transform 300ms ease-out;
	}

	@include element(pull) {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin-top: -30px;
		line-height: 30px;
		transition: transform 300ms ease-out;
	}

	// core
	@include element(wrapper) {
		position: relative;
		height: 100%;
		overflow: hidden auto;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
	}

	@include element(pool) {
		position: absolute;
		top: -1000px;
		width: 100%;
		visibility: hidden;
		box-sizing: border-box;
	}

	@include element(transition) {
		width: 100%;
		opacity: 0;
		transition-duration: .5s;
		transition-property: opacity;
	}

	@include element(column) {
		display: inline-block;
		width: 100%;
		vertical-align: top; 
		box-sizing: border-box;
	}

	// scroll-state
	@include element(loading) {
		display: flex;
		padding: 10px 0;
		justify-content: center;
	}

	@include element(center) {
		line-height: 20px;
		text-align: center;
	}

	@include element(finish) {
		padding: 10px 0;
	}

	@include element(empty) {
		padding: 10px 0;
	}
}