@use '../style/helper' as *;

$component-name: vc-rate;
$empty-color: varfix(color-light-deeper, rate);
$tip-color: varfix(foreground-color, rate);

@include block($component-name) {
	display: inline-block;
	font-size: unitfix(16);
	line-height: unset;
	list-style: none;

	@include element(star) {
		position: relative;
		display: inline-block;
		cursor: pointer;

		@include when(not-last) {
			margin-right: unitfix(8);
		}

		@include when(half) {
			.vc-rate__star--first {
				opacity: 1;
			}
		}

		@include when(select) {
			.vc-rate__star--icon {
				color: inherit;
			}
		}

		@include when(disabled) {
			cursor: unset;
		}

		@include modifier(icon) {
			color: $empty-color;
			transition: all .3s;
			user-select: none;
		}

		@include modifier(first) {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			overflow: hidden;
			color: inherit;
			opacity: 0;
		}

		@include modifier(second) {
			
		}
	}

	@include element(tips) {
		display: inline-block;
		margin: 0 unitfix(8);
		font-size: unitfix(14);
		color: $tip-color;
		box-sizing: border-box;
	}
}
