@use '../../../../style/helper' as *;

$color-contrast-light: varfix(color-contrast-light, date-picker);
$color-dark-extralight: varfix(color-dark-extralight, date-picker);
$color-primary: varfix(color-primary, date-picker);
$background-color-light: varfix(background-color-light, date-picker);
$background-color-primary-light: varfix(background-color-primary-light, date-picker);
$block: vc-date-table;

@include block($block) {
	overflow: auto;

	@include element(wrapper) {
		width: 196px;
		margin: 10px;
		font-size: 12px;
		white-space: normal;
		user-select: none;
	}

	@include element(header) {
		margin: 2px;
		line-height: 24px;
		color: $color-dark-extralight;
		text-align: center;
	}

	@include element(cell) {
		width: 28px;
		height: 28px;
		cursor: pointer;

		div {
			position: relative;
			margin: 2px;
			font-style: normal;
			line-height: 24px;
			text-align: center;
			border-radius: 3px;
			transition: all .2s ease-in-out;

			&:hover {
				background: $background-color-primary-light;
			}

			span {
				display: inline-block;
				width: 24px;
				height: 24px;
			}
		}

		@include when(today) {
			span::after {
				position: absolute;
				top: 1px;
				right: 1px;
				z-index: 1;
				display: block;
				width: 6px;
				height: 6px;
				background: $color-primary;
				border-radius: 50%;
				content: "";
			}
		}

		@include when(range) {
			div {
				&::before {
					position: absolute;
					inset: 0 -2px;
					display: block;
					background: $background-color-primary-light;
					border: 0;
					border-radius: 0;
					content: "";
				}

				span {
					position: relative;
					z-index: 1;
				}
			}
		}

		@include when(focused) {
			div { box-shadow: inset 0 0 0 1px $color-primary; }
		}

		@include when(selected) {
			div {
				color: $color-contrast-light;
				background: $color-primary;
			}
		}

		@include when(disabled) {
			color: $color-dark-extralight;
			cursor: not-allowed;
			background: $background-color-light;

			div:hover {
				background: $background-color-light;
			}
		}

		@include when(next-month) {
			div { color: $color-dark-extralight; }
		}

		@include when(prev-month) {
			div { color: $color-dark-extralight; }
		}
	}
}
