@use '../../../../style/helper' as *;

$muted: varfix(color-dark-extralight, date-picker);
$range: varfix(color-primary-lighter, date-picker);
$primary: varfix(color-primary, date-picker);
$selected-foreground: varfix(selected-foreground, date-picker, #fff);
$disabled-background: varfix(disabled-background, date-picker, rgb(128 128 128 / 8%));
$block: vc-date-table;

@include block($block) {
	overflow: auto;

	@include element(wrapper) {
		width: 196px;
		margin: 10px;
		font-size: 12px;
		white-space: normal;
		user-select: none;
	}

	@include element(header) {
		margin: 2px;
		line-height: 24px;
		color: $muted;
		text-align: center;
	}

	@include element(cell) {
		width: 28px;
		height: 28px;
		cursor: pointer;

		div {
			position: relative;
			margin: 2px;
			font-style: normal;
			line-height: 24px;
			text-align: center;
			border-radius: 3px;
			transition: all .2s ease-in-out;

			&:hover {
				background: $range;
			}

			span {
				display: inline-block;
				width: 24px;
				height: 24px;
			}
		}

		@include when(today) {
			span::after {
				position: absolute;
				top: 1px;
				right: 1px;
				z-index: 1;
				display: block;
				width: 6px;
				height: 6px;
				background: $primary;
				border-radius: 50%;
				content: "";
			}
		}

		@include when(range) {
			div {
				&::before {
					position: absolute;
					inset: 0 -2px;
					display: block;
					background: $range;
					border: 0;
					border-radius: 0;
					content: "";
				}

				span {
					position: relative;
					z-index: 1;
				}
			}
		}

		@include when(focused) {
			div { box-shadow: inset 0 0 0 1px $primary; }
		}

		@include when(selected) {
			div {
				color: $selected-foreground;
				background: $primary;
			}
		}

		@include when(disabled) {
			color: $muted;
			cursor: not-allowed;
			background: $disabled-background;

			div:hover {
				background: $disabled-background;
			}
		}

		@include when(next-month) {
			div { color: $muted; }
		}

		@include when(prev-month) {
			div { color: $muted; }
		}
	}
}
