@use '../../../../style/helper' as *;

$muted: varfix(color-dark-extralight, date-picker);
$range: varfix(color-primary-lighter, date-picker);
$primary: varfix(color-primary, date-picker);
$selected-foreground: varfix(selected-foreground, date-picker, #fff);
$disabled-background: varfix(disabled-background, date-picker, rgb(128 128 128 / 8%));
$block: vc-month-table;

@include block($block) {
	overflow: auto;

	@include element(wrapper) {
		margin: 10px;
		white-space: normal;
	}

	@include element(cell) {
		div {
			position: relative;
			width: 40px;
			height: 28px;
			margin: 8px 9px;
			line-height: 28px;
			cursor: pointer;
			border-radius: 3px;

			span {
				display: inline-block;
				width: 40px;
				height: 28px;
				margin: 0;
				line-height: 28px;
				text-align: center;
				border-radius: 3px;
				transition: background .2s ease-in-out;
			}

			&:hover {
				background: $range;
			}
		}

		@include when(selected) {
			div {
				color: $selected-foreground;
				background: $primary;
			}
		}

		@include when(range) {
			div {
				&::before {
					position: absolute;
					inset: 0 -9px;
					display: block;
					background: $range;
					border: 0;
					border-radius: 0;
					content: "";
				}

				span {
					position: relative;
					z-index: 1;
				}
			}
		}

		@include when(disabled) {
			div {
				color: $muted;
				cursor: not-allowed;
				background: $disabled-background;

				&:hover {
					background: $disabled-background;
				}
			}
		}
	}
}
