@use '../../../../style/helper' as *;

$border: varfix(border-color, date-picker, rgb(128 128 128 / 22%));
$surface: varfix(background-color, date-picker);
$hover: varfix(hover-background, date-picker, rgb(128 128 128 / 10%));
$block: vc-date-shortcuts;

@include block($block) {
	height: 100%;
	background: $surface;
	border-right: 1px solid $border;
	box-sizing: border-box;

	@include element(ul) {
		padding: 0;
		margin: 0;
		list-style: none;

		@include element(li) {
			padding: 6px 16px;
			cursor: pointer;
			transition: .2s;

			&:hover {
				background: $hover;
			}
		}
	}
}
