@use '../../../../style/helper' as *;

$color-neutral-light: varfix(color-neutral-light, date-picker);
$background-color: varfix(background-color, date-picker);
$background-color-primary-light: varfix(background-color-primary-light, date-picker);
$block: vc-date-shortcuts;

@include block($block) {
	height: 100%;
	background: $background-color;
	border-right: 1px solid $color-neutral-light;
	box-sizing: border-box;

	@include element(ul) {
		padding: 0;
		margin: 0;
		list-style: none;

		@include element(li) {
			padding: 6px 16px;
			cursor: pointer;
			transition: .2s;

			&:hover {
				background: $background-color-primary-light;
			}
		}
	}
}
