@use '../../../../style/helper' as *;

$muted: varfix(color-dark-extralight, date-picker);
$primary: varfix(color-primary, date-picker);
$border: varfix(border-color, date-picker, rgb(128 128 128 / 22%));
$hover: varfix(hover-background, date-picker, rgb(128 128 128 / 10%));
$range: varfix(color-primary-lighter, date-picker);
$block: vc-time-select;

@include block($block) {
	display: flex;
	font-size: 14px;

	@include when(touch) {
		@include element(list) {
			overflow-y: auto;
		}
	}

	@include element(list) {
		position: relative;
		width: 56px; // time-picker
		max-height: 144px;
		overflow: hidden;
		border-left: 1px solid $border;

		&:hover {
			overflow-y: auto;
		}

		ul {
			width: 100%;
			padding: 0 0 120px;
			margin: 0;
			list-style: none;

			li {
				width: 100%;
				height: 24px;
				padding: 0 0 0 16px;
				margin: 0;
				line-height: 24px;
				text-align: left;
				list-style: none;
				cursor: pointer;
				box-sizing: content-box;
				transition: background .2s ease-in-out;
				user-select: none;
			}
		}
	}

	@include element(li) {
		&:hover {
			background: $hover;
		}

		@include when(selected) {
			color: $primary;
			background: $hover;

			&:hover {
				color: $primary;
				background: $hover;
			}
		}

		@include when(disabled) {
			color: $muted;
			cursor: not-allowed;
		}

		@include when(focused) {
			background-color: $range;
		}
	}
}
