@use '../../../../style/helper' as *;

$block: vc-time-select;

@include block($block) {
	display: flex;
	font-size: 14px;

	@include when(touch) {
		@include element(list) {
			overflow-y: auto;
		}
	}

	@include element(list) {
		position: relative;
		width: 56px; // time-picker
		max-height: 144px;
		overflow: hidden;
		border-left: 1px solid #e8eaec;

		&:hover {
			overflow-y: auto;
		}

		ul {
			width: 100%;
			padding: 0 0 120px;
			margin: 0;
			list-style: none;

			li {
				width: 100%;
				height: 24px;
				padding: 0 0 0 16px;
				margin: 0;
				line-height: 24px;
				text-align: left;
				list-style: none;
				cursor: pointer;
				box-sizing: content-box;
				transition: background .2s ease-in-out;
				user-select: none;
			}
		}
	}

	@include element(li) {
		&:hover {
			background: #f3f3f3;
		}

		@include when(selected) {
			color: #2d8cf0;
			background: #f3f3f3;

			&:hover {
				color: #2d8cf0;
				background: #f3f3f3;
			}
		}

		@include when(disabled) {
			color: #c5c8ce;
			cursor: not-allowed;
		}

		@include when(focused) {
			background-color: #d5e8fc;
		}
	}
}