@use '../../../../style/helper' as *;

$color-contrast-light: varfix(color-contrast-light, date-picker);
$color-dark-extralight: varfix(color-dark-extralight, date-picker);
$color-primary: varfix(color-primary, date-picker);
$background-color-light: varfix(background-color-light, date-picker);
$background-color-primary-light: varfix(background-color-primary-light, date-picker);
$block: vc-year-table;

@include block($block) {
	overflow: auto;

	@include element(wrapper) {
		margin: 10px;
		white-space: normal;
	}

	@include element(cell) {
		div {
			width: 40px;
			height: 28px;
			margin: 8px 9px;
			line-height: 28px;
			cursor: pointer;
			border-radius: 3px;

			span {
				display: inline-block;
				width: 40px;
				height: 28px;
				margin: 0;
				line-height: 28px;
				text-align: center;
				border-radius: 3px;
				transition: background .2s ease-in-out;
			}

			&:hover {
				background: $background-color-primary-light;
			}
		}

		@include when(empty) {
			div {
				cursor: default;

				&:hover {
					background: unset;
				}
			}
		}

		@include when(selected) {
			div {
				color: $color-contrast-light;
				background: $color-primary;
			}
		}

		@include when(disabled) {
			div {
				color: $color-dark-extralight;
				cursor: not-allowed;
				background: $background-color-light;

				&:hover {
					background: $background-color-light;
				}
			}
		}
	}
}
