@use '../style/helper' as *;

$component-name: vc-text;

@include block($component-name) {
	position: relative;
	display: inline-block;
	width: 100%;
	word-break: break-all;
	box-sizing: border-box;
}