@use '../../style/helper' as *;

$component-name: vc-date-picker;

@include block($component-name) {
	position: relative;
	display: inline-block;
	width: auto;
	line-height: 1;

	@include modifier(portal) {
		font-size: 12px;
		color: #515a6e;
	}

	@include element(input) {
		cursor: pointer;

		input {
			cursor: pointer;
		}

		.vc-input__append {
			z-index: 0;
		}
	}

	@include element(append) {
		position: relative;
		padding: 0 10px 0 2px;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		color: #808695;
		text-align: center;
		white-space: nowrap;
		cursor: default;

		@include when(clear) {
			font-size: 14px;
			cursor: pointer;
		}

		.vc-icon {
			vertical-align: unset;
		}

	}

	@include element(tags) {
		padding-left: 4px;

		.vc-tag {
			margin: 3px 4px 3px 0;
		}
	}

	@include element(search) {
		padding: 12px 8px;
	}

	@include element(options) {
		max-height: 220px;
		overflow: auto;
	}

	@include element(loading) {
		padding-bottom: 8px;
		text-align: center;
	}
}