@use '../../style/helper' as *;

$color-dark-light: varfix(color-dark-light, textarea);
$color-dark-extralight: varfix(color-dark-extralight, textarea);
$color-light-deep: varfix(color-light-deep, textarea);
$color-light-deeper: varfix(color-light-deeper, textarea);
$color-primary: varfix(color-primary, textarea);
$color-primary-lighter: varfix(color-primary-lighter, textarea);
$background-color-light: varfix(background-color-light, textarea);
$background-color-lightest: varfix(background-color-lightest, textarea);
$foreground-color: varfix(foreground-color, textarea);
$component-name: vcm-textarea;

@include block($component-name) {
	position: relative;
	display: inline-flex;
	width: 100%;
	min-height: unitfix(24); // 动态计算
	line-height: 1.5;
	cursor: text;

	@include element(wrapper) {
		display: flex;
		align-items: center;
		flex: 1;
	}

	@include element(content){
		flex: 1;

		textarea {
			position: relative;
			display: block; // 两个文本框默认情况下上下会有一个间距
			width: 100%;
			min-height: unitfix(24);
			padding-right: unitfix(7);
			padding-left: unitfix(7);
			overflow: auto;
			font-family: inherit;
			font-size: inherit;
			font-size: unitfix(16);
			line-height: inherit;
			color: $color-dark-light;
			background-color: $background-color-lightest;
			border: none;
			outline: 0;
			resize: none;  // 不形式拖拽按钮

			&::placeholder {
				color: $color-dark-extralight;
			}

			&[disabled] {
				color: $color-dark-extralight;
				cursor: not-allowed;
				background-color: $background-color-light;
				opacity: 1;
			}
		}

		@include when(right) {
			textarea {
				color: $color-dark-extralight;
				text-align: right;
			}
		}
	}
}
