@use '../../style/helper' as *;

$component-name: vcm-picker-popup;
$color-dark: varfix(color-dark, picker);
$color-neutral-light: varfix(color-neutral-light, picker);
$color-primary: varfix(color-primary, picker);
$background-color-lightest: varfix(background-color-lightest, picker);

@include block($component-name) {
	@include element(header) {
		position: relative;
		display: flex;
		align-items: center;
		background-color: $background-color-lightest;
		border-bottom: unitfix(1) solid $color-neutral-light;
		box-sizing: border-box;
	}

	@include element(item) {
		height: unitfix(44);
		padding: 0 unitfix(15);
		font-size: unitfix(17);
		line-height: unitfix(44);
		color: $color-primary;

		@include when(title) {
			flex: 1;
			overflow: hidden;
			color: $color-dark;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
