@use '../style/helper' as *;

$component-name: vc-modal;
$color-success: varfix(color-success, modal);
$color-error: varfix(color-error, modal);
$color-warning: varfix(color-warning, modal);
$color-info: varfix(color-primary, modal);
$foreground-color: varfix(foreground-color, modal);
$background-color-light: varfix(background-color-light, modal);
$border-shadow: varfix(border-shadow, modal);
$color-light-deeper: tablevarfix(color-light-deeper, modal);
$color-dark-light: varfix(color-dark-light, modal);
$color-dark-lightest: varfix(color-dark-lightest, modal);

@include block($component-name) {
	font-size: 14px;
	color: $foreground-color;

	@include element(mask) {
		position: fixed;
		inset: 0;
		z-index: $popup-zindex; // 与wrapper相同，两个modal同时出现时可以盖上去
		height: 100%;
		background-color: rgb(0 0 0 / 40%);
		opacity: 1;
	}

	@include element(wrapper) {
		position: fixed;
		top: 50%;
		left: 0;
		z-index: $popup-zindex;
		width: 100%;
		transform: translateY(-50%);
	}

	@include element(container) {
		position: relative;
		display: flex;
		padding-bottom: 0;
		margin: auto;
		background: $background-color-light;
		border-radius: unitfix(16);
		box-shadow: $border-shadow;
		box-sizing: border-box;
		flex-direction: column;

		@include when(footer, true) {
			padding-bottom: unitfix(63);
		}

		@include when(drag) {
			position: absolute;
		}

		@include when(large) {
			@media screen and (height <= 768px) {
				min-height: unitfix(400) !important;
			}

			@media screen and (height <= 400px) {
				min-height: 100% !important;
			}
		}

		@include when(border, true) {
			border-radius: unitfix(8);

			@include element(header) {
				padding: unitfix(14) unitfix(24);
				font-size: unitfix(14);
				font-weight: 400;
				border-bottom: unitfix(1) solid $color-light-deeper;
			}

			@include element(title) {
				font-size: unitfix(14);
				font-weight: 400;
			}

			@include element(content) {
				padding: unitfix(16) unitfix(24);
			}

			@include element(footer) {
				padding: unitfix(17) unitfix(24);
				font-size: 12px;
				border-top: unitfix(1) solid $color-light-deeper;
			}

			@include element(close) {
				top: unitfix(17);
				right: unitfix(16);
			}
		}
	}

	@include element(header) {
		position: relative;
		display: flex;
		padding: unitfix(24) unitfix(28) unitfix(14);
		font-size: unitfix(16);
		font-weight: 600;
		line-height: 1;
		box-sizing: border-box;

		@include when(confirm) {
			padding: unitfix(32) unitfix(28) unitfix(12);
			border-bottom: none;
		}
	}

	@include element(content-container) {
		overflow: hidden;
		flex: 1;

		> .vc-scroller {
			height: 100%;
		}
	}

	@include element(content) {
		padding: unitfix(12) unitfix(28);
		box-sizing: border-box;

		@include when(confirm) {
			padding: unitfix(0) unitfix(24) unitfix(32) unitfix(56);
			font-weight: 400;
		}

		@include when(padding-none) {
			padding: 0;
			padding-left: 0;
		}
	}

	@include element(footer) {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: unitfix(12) unitfix(24);
		text-align: right;
		box-sizing: border-box;

		@include when(confirm) {
			padding: unitfix(0) unitfix(28) unitfix(32);
			border-top: none;

			button {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	@include element(title) {
		width: 100%;
		min-height: unitfix(20);
		font-size: unitfix(16);
		font-weight: 600;
		line-height: unitfix(20);
		color: $color-dark-light;
		word-wrap: break-word;
	}

	@include element(close) {
		position: absolute;
		top: unitfix(24);
		right: unitfix(28);
		font-size: unitfix(13);
		color: $color-dark-lightest;
		cursor: pointer;
	}

	@include element(icon) {
		margin-right: unitfix(8);
		font-size: unitfix(20);

		@include when(success) {
			color: $color-success;
		}

		@include when(error) {
			color: $color-error;
		}

		@include when(warning) {
			color: $color-warning;
		}

		@include when(info) {
			color: $color-info;
		}
	}
}