@use '../style/helper' as *;

$component-name: vc-affix;

@include block($component-name) {
	// fixed=false：在滚动容器内吸附，偏移与层级由行内设置
	@include when(sticky) {
		position: sticky;
	}

	@include element(fixed) {
		position: fixed;
	}
}
