.vc-icon {
	display: inline-block;
	line-height: 0;
	vertical-align: middle;

	> svg {
		width: 1em;
		height: 1em;
		overflow: hidden;
		vertical-align: -0.15em; // 居中
		// padding: 0.05em;
		fill: currentcolor;
	}
}