@import '../style/helper';

$component-name: vc-notice;
$component-portals-name: vc-notice-portals;
$color-success: varfix(color-success, notice);
$color-error: varfix(color-error, notice);
$color-warning: varfix(color-warning, notice);
$color-info: varfix(color-primary, notice);
$color-dark-light: varfix(color-dark-light, notice);
$color-dark-lighter: varfix(color-dark-lighter, notice);
$background-color-light: varfix(background-color-light, notice);
$border-shadow: varfix(border-shadow, notice);


// 消息加入理应是倒置的
@include block($component-portals-name) {
	position: fixed;
	top: unitfix(24);
	right: 0;
	bottom: auto;
	z-index: 4000;
}

@include block($component-name) {
	@include when(fixed) {
		position: fixed;
		top: unitfix(24);
		right: 0;
		bottom: auto;
		z-index: 4000;
	}

	@include element(wrapper) {
		width: unitfix(384);
		margin-right: unitfix(24);
		box-sizing: border-box; 
	}

	@include element(container) {
		position: relative;
		display: flex;
		padding: unitfix(16);
		margin-bottom: unitfix(16);
		overflow: hidden;
		font-size: unitfix(14);
		background: $background-color-light;
		border-radius: unitfix(4);
		box-shadow: $border-shadow;
		align-items: center;

		@include element(title) {
			display: inline-block;
			padding-right: unitfix(24);
			font-size: unitfix(16);
			color: $color-dark-light;
		}

		@include element(content) {
			line-height: 1.5;
			color: $color-dark-lighter;
		}

		@include element(icon) {
			padding-right: unitfix(8);
			font-size: unitfix(22);
			line-height: unitfix(24);
			align-self: flex-start;

			@include when(success) {
				color: $color-success;
			}

			@include when(error) {
				color: $color-error;
			}

			@include when(warning) {
				color: $color-warning;
			}

			@include when(info) {
				color: $color-info;
			}
		}
	}

	@include element(close) {
		position: absolute;
		top: unitfix(16);
		right: unitfix(22);
		display: inline-flex;
		height: unitfix(24);
		font-size: unitfix(12);
		cursor: pointer;
		align-items: center;
	}
}