@use '../style/helper' as *;

$component-name: vc-switch;
$color-primary: varfix(color-primary, switch);
$background-color-light: varfix(background-color-light, switch);

@include block($component-name) {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	cursor: pointer;
	background-color: #d9d9d9;
	border: 1px solid #d9d9d9;
	border-radius: 20px;
	box-sizing: border-box;
	transition: all .2s ease-in-out;
	user-select: none;;

	@include		 element(content) {
		position: absolute;
		left: 20px;
		font-size: 12px;
		color: $background-color-light;
	}

	@include element(inner) {
		position: absolute;
		top: 1px;
		left: 1px;
		width: 16px;
		height: 16px;
		cursor: pointer;
		background-color: $background-color-light;
		border-radius: 18px;
		content: '';
		transition: left .2s ease-in-out,width .2s ease-in-out;
	}

	@include element(loading) {
		position: absolute;
		top: 2px;
		left: 2px;
		z-index: 1;
		width: 12px;
		height: 12px;
		opacity: .4;
	}

	@include when(checked) {
		background-color: $color-primary;
		border-color: $color-primary;

		@include element(content) {
			left: 7px;
		}

		@include element(inner) {
			left: 17px;
		}

		@include element(loading) {
			left: 18px;
		}
	}
}