@use '../style/helper' as *;

$component-name: vc-switch;
$color-primary: varfix(color-primary, switch);
$background-color-light: varfix(background-color-light, switch);

// 控制在32px
@include block($component-name) {
	display: inline-flex;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	line-height: 20px;
	box-sizing: border-box;

	@include element(wrapper) {
		position: relative;
		display: flex;
		width: 100%;
		vertical-align: middle;
		cursor: pointer;
		background-color: #d9d9d9;
		border: 1px solid #d9d9d9;
		border-radius: 20px;
		box-sizing: border-box;
		transition: all .2s ease-in-out;
		user-select: none;
	}

	@include element(content) {
		position: absolute;
		display: flex;
		font-size: inherit;
		color: $background-color-light;
		align-items: center;
		justify-content: flex-end;
	}

	@include element(inner) {
		position: absolute;
		top: 1px;
		left: 1px;
		width: 16px;
		height: 16px;
		cursor: pointer;
		background-color: $background-color-light;
		border-radius: 18px;
		content: '';
		transition: left .2s ease-in-out,width .2s ease-in-out;
	}

	@include element(loading) {
		position: absolute;
		top: 2px;
		left: 2px;
		z-index: 1;
		width: 12px;
		height: 12px;
		opacity: .4;
	}

	@include when(checked) {
		@include element(wrapper) {
			background-color: $color-primary;
			border-color: $color-primary;
		}

		@include element(content) {
			justify-content: flex-start;
		}
	}
}