@use 'sass:color';
@use '../../style/helper' as *;

$color-contrast-dark: varfix(color-contrast-dark, toast);
$color-contrast-dark-frozen: themefrozen(color-contrast-dark);
$color-contrast-light: varfix(color-contrast-light, toast);
$component-name: vcm-toast;
$surface-color-fallback: color.change($color-contrast-dark-frozen, $alpha: .75);
$surface-color: color-mix(in srgb, #{$color-contrast-dark} 75%, transparent);

@include block($component-name) {
	font-size: unitfix(12);

	@include element(bg) {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3999;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		opacity: 0;
	}

	@include element(wrapper) {
		position: fixed;
		z-index: 4001;
		max-width: 50%; // 含内边距，与此前的最大宽度一致
		padding: unitfix(9) unitfix(15);
		line-height: 1.5;
		color: $color-contrast-light;
		text-align: center;
		background: $surface-color-fallback;

		@supports (color: color-mix(in srgb, black, white)) {
			& {
				background: $surface-color;
			}
		}

		border-radius: unitfix(3);
		box-sizing: border-box;

		@include position-center;
	}

	@include element(loading) {
		line-height: unitfix(24);
	}

	@include element(content) {
		word-break: break-all;
	}
}
