@use '../style/helper' as *;

$component-name: vc-message;
$color-success: varfix(color-success, message);
$color-error: varfix(color-error, message);
$color-warning: varfix(color-warning, message);
$color-info: varfix(color-primary, message);
$foreground-color: varfix(foreground-color, message);
$background-color-light: varfix(background-color-light, message);
$border-shadow: varfix(border-shadow, message);

@include block($component-name) {
	color: $foreground-color;

	@include element(mask) {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3999;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background: rgb(0 0 0 / 40%);
		opacity: 0;
	}

	@include element(wrapper) {
		display: flex;
		width: 100%;
		justify-content: center;

		@include when(fixed) {
			position: fixed;
			z-index: 4000;
		}
	}

	@include element(container) {
		display: flex;
		padding: unitfix(8) unitfix(16);
		font-size: unitfix(14);
		background: $background-color-light;
		border-radius: unitfix(4);
		box-shadow: $border-shadow;
		align-items: center;

		@include element(icon) {
			padding-right: unitfix(5);

			@include when(success) {
				color: $color-success;
			}

			@include when(error) {
				color: $color-error;
			}

			@include when(warning) {
				color: $color-warning;
			}

			@include when(info) {
				color: $color-info;
			}
		}
	}

	@include element(loading) {
		margin-right: unitfix(5);
	}

	@include element(close) {
		padding-left: unitfix(6);
		font-size: unitfix(12);
		cursor: pointer;
	}
}