@use '../style/helper' as *;

$component-name: vc-checkbox;

@include block($component-name) {
	display: inline-flex;
	padding: 6px 8px 6px 0;
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;
	box-sizing: border-box;
	align-items: center;

	@include element(wrapper) {
		position: relative;
		display: inline-flex;
		line-height: inherit;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;

		@include when(sibling, true) {
			margin-right: 4px;
		}

		input {
			position: absolute;
			inset: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			cursor: pointer;
			opacity: 0;

			&[disabled] {
				cursor: not-allowed;
			}
		}
	}

	@include element(border) {
		position: relative;
		top: 0;
		left: 0;
		display: inline-flex;
		width: 14px;
		height: 14px;
		background-color: #fff;
		box-sizing: border-box;

		@include border('', #d4d7db, 2px);

		&::after, &::before {
			transition: border-color .2s;
		}
	}

	@include element(inner) {
		position: absolute;
		top: 2px;
		left: 5px;
		display: table;
		width: 4px;
		height: 8px;
		border: 2px solid #fff;
		border-collapse: initial;
		border-top: 0;
		border-left: 0;
		content: '';
		transform: rotate(45deg) scale(0);
		box-sizing: border-box;
		transition: all .2s ease-in-out;
	}

	@include when(checked) {
		@include element(border){
			background-color: #456CF6;

			&::after, &::before {
				border-color: #456CF6;
			}
		}

		@include element(inner) {
			transform: rotate(45deg) scale(1);
		}
	}

	@include when(disabled) {
		@include element(border){
			background-color: #f4f4f4;

			&::after, &::before {
				border-color: #d4d7db;
			}
			
		}

		@include element(inner) {
			border-color: #f4f4f4;
			animation-name: none;
		}

		@include when(checked) {
			@include element(inner) {
				border-color: #ccc;
				animation-name: none;
			}
		}
	}

	@include when(focus) {
		@include element(border){
			z-index: 1;
			box-shadow: 0 0 0 2px rgb(45 140 240 / 20%);
		}
	}

	@include when(error) {
		@include element(border){
			&::after, &::before {
				border-color: #f04134;
			}
		}
	}

	@include when(indeterminate) {
		@include element(border){
			background-color: #2d8cf0;

			&::after, &::before {
				border-color: #2d8cf0;
			}
		}

		@include element(inner) {
			top: 6px;
			left: 3px;
			width: 8px;
			height: 1px;
			transform: scale(1);
		}
	}
}