@use '../style/helper' as *;

$component-name: vc-checkbox;
$background: varfix(background-color-light, checkbox);
$border: varfix(color-light-deeper, checkbox);
$selected: varfix(color-primary, checkbox);
$indicator: varfix(indicator-color, checkbox, #fff);
$disabled-background: varfix(background-color, checkbox);
$disabled-indicator: varfix(color-light-extradeep, checkbox);
$focus: varfix(color-primary-lighter, checkbox);
$error: varfix(color-error, checkbox);

@include block($component-name) {
	display: inline-flex;
	padding: unitfix(6) unitfix(8) unitfix(6) 0;
	font-size: unitfix(12);
	line-height: unitfix(20);
	cursor: pointer;
	box-sizing: border-box;
	align-items: center;

	@include element(wrapper) {
		position: relative;
		display: inline-flex;
		line-height: inherit;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;

		@include when(sibling, true) {
			margin-right: unitfix(4);
		}

		input {
			position: absolute;
			inset: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			cursor: pointer;
			opacity: 0;

			&[disabled] {
				cursor: not-allowed;
			}
		}
	}

	@include element(border) {
		position: relative;
		top: 0;
		left: 0;
		display: inline-flex;
		width: unitfix(14);
		height: unitfix(14);
		background-color: $background;
		box-sizing: border-box;

		@include border('', $border, 2);

		&::after, &::before {
			transition: border-color .2s;
		}
	}

	@include element(inner) {
		position: absolute;
		top: unitfix(2);
		left: unitfix(5);
		display: table;
		width: unitfix(4);
		height: unitfix(8);
		border: unitfix(2) solid $indicator;
		border-collapse: initial;
		border-top: 0;
		border-left: 0;
		content: '';
		transform: rotate(45deg) scale(0);
		box-sizing: border-box;
		transition: all .2s ease-in-out;
	}

	@include when(checked) {
		@include element(border){
			background-color: $selected;

			&::after, &::before {
				border-color: $selected;
			}
		}

		@include element(inner) {
			transform: rotate(45deg) scale(1);
		}
	}

	@include when(focus) {
		@include element(border){
			z-index: 1;
			box-shadow: 0 0 0 unitfix(2) $focus;
		}
	}

	@include when(error) {
		@include element(border){
			&::after, &::before {
				border-color: $error;
			}
		}
	}

	@include when(indeterminate) {
		@include element(border){
			background-color: $selected;

			&::after, &::before {
				border-color: $selected;
			}
		}

		@include element(inner) {
			top: unitfix(6);
			left: unitfix(3);
			width: unitfix(8);
			height: unitfix(1);
			transform: scale(1);
		}
	}

	@include when(disabled) {
		@include element(border){
			background-color: $disabled-background;

			&::after, &::before {
				border-color: $border;
			}

		}

		@include element(inner) {
			border-color: $disabled-background;
			animation-name: none;
		}

		&.is-checked, &.is-indeterminate {
			@include element(inner) {
				border-color: $disabled-indicator;
				animation-name: none;
			}
		}
	}
}
