@use '../style/helper' as *;

$component-name: vc-card;
$background-color-light: varfix(background-color-light, card);
$color-dark: varfix(color-dark, card);
$border-color: varfix(border-color, card, #e8eaec);
$border-color-hover: varfix(border-color-hover, card, #eee);
$box-shadow: varfix(box-shadow, card, 0 unitfix(1) unitfix(1) 0 rgb(0 0 0 / 10%));
$box-shadow-hover: varfix(box-shadow-hover, card, 0 unitfix(1) unitfix(6) rgb(0 0 0 / 20%));
$border-radius: unitfix(4);

@include block($component-name) {
	position: relative;
	font-size: unitfix(14);
	background: $background-color-light;
	border-radius: $border-radius;
	box-sizing: border-box;
	transition: all .2s ease-in-out;

	&:hover {
		box-shadow: $box-shadow-hover;
	}

	p {
		margin: 0;
	}

	@include when(border) {
		@include border('', $border-color, $border-radius);

		&:hover::after {
			border-color: $border-color-hover;
		}
	}

	@include when(shadow) {
		box-shadow: $box-shadow;
	}

	@include element(header) {
		@include border(bottom, $border-color);

		& {
			padding: unitfix(14) unitfix(16);
			line-height: 1;
		}

		p {
			display: inline-block;
			width: 100%;
			height: unitfix(20);
			overflow: hidden;
			font-size: unitfix(14);
			font-weight: 700;
			line-height: unitfix(20);
			color: $color-dark;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	
	@include element(extra) {
		position: absolute;
		top: unitfix(14);
		right: unitfix(16);
	}
}
