@use '../style/helper' as *;

$color-dark: varfix(color-dark, card);
$color-neutral-light: varfix(color-neutral-light, card);
$background-color-lightest: varfix(background-color-lightest, card);
$box-shadow: varfix(box-shadow, card);
$box-shadow-floating: varfix(box-shadow-floating, card);
$component-name: vc-card;
$border-radius: unitfix(4);

@include block($component-name) {
	position: relative;
	font-size: unitfix(14);
	background: $background-color-lightest;
	border-radius: $border-radius;
	box-sizing: border-box;
	transition: all .2s ease-in-out;

	&:hover {
		box-shadow: $box-shadow-floating;
	}

	p {
		margin: 0;
	}

	@include when(border) {
		@include border('', $color-neutral-light, $border-radius);

		&:hover::after {
			border-color: $color-neutral-light;
		}
	}

	@include when(shadow) {
		box-shadow: $box-shadow;
	}

	@include element(header) {
		@include border(bottom, $color-neutral-light);

		& {
			padding: unitfix(14) unitfix(16);
			line-height: 1;
		}

		p {
			display: inline-block;
			width: 100%;
			height: unitfix(20);
			overflow: hidden;
			font-size: unitfix(14);
			font-weight: 700;
			line-height: unitfix(20);
			color: $color-dark;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	
	@include element(extra) {
		position: absolute;
		top: unitfix(14);
		right: unitfix(16);
	}
}
