@import '../style/helper';

$block: vc-transition-zoom;

@include block($block) {
	@include when(in) {
		animation-timing-function: $ease-out-quint; // 弹性
	}

	@include when(out) {
		animation-timing-function: $ease-in-quint; // 弹性
	}

	/**
	 * transition-group下删除元素, 其他元素位置变化动画
	 */
	@include when(move) {
		transition: transform .3s $ease-out-quint;
	}
}

/**
 * 动画名称
 */
@mixin zoom($mode) {
	@include block($block) {
		@include when(#{$mode}) {
			@include when(in) {
				animation-name: vc-zoom-#{$mode}-in;
			}

			@include when(out) {
				animation-name: vc-zoom-#{$mode}-out;
			}
		}
	}
}

@include zoom(x);
@include zoom(y);
@include zoom(center);

@include block($block) {
	@include when(center) {
		@include when(in) {
			animation-timing-function: cubic-bezier(.18, .89, .32, 1.28); // 弹性
		}

		@include when(out) {
			animation-timing-function: cubic-bezier(.55, 0, .55, .2); // 弹性
		}
	}
}

/**
 * x
 */
@keyframes vc-zoom-x-in {
	0% {
		opacity: 0;
		transform: scaleX(0);
	}

	50% {
		opacity: 1;
	}
}

@keyframes vc-zoom-x-out {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
		transform: scaleX(0);
	}

	100% {
		opacity: 0;
	}
}

/**
 * y
 */
@keyframes vc-zoom-y-in {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}

	50% {
		opacity: 1;
		transform: scaleY(1);
	}
}

@keyframes vc-zoom-y-out {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
		transform: scaleY(0);
	}

	100% {
		opacity: 0;
	}
}

/**
 * center
 */
@keyframes vc-zoom-center-in {
	from {
		opacity: 0;
		transform: scale(0, 0);
	}

	to {
		transform: scale(1, 1);
	}
}

@keyframes vc-zoom-center-out {
	from {
		transform: scale(1, 1);
	}

	to {
		opacity: 0;
		transform: scale(0, 0);
	}
}