@use '../style/helper' as *;

$component-name: vc-marquee;

@include block($component-name) {
	overflow: hidden;
	white-space: nowrap;

	@include element(content) {
		display: inline-block;

		@include when(paused) {
			animation-play-state: paused;
		}
	}
}