@use '../../style/helper' as *;

$preview-background-color: varfix(preview-background-color, file-preview, var(--vc-file-preview-color-dark, #000));
$preview-close-color: varfix(preview-close-color, file-preview, var(--vc-file-preview-color-light, #fff));

.vc-video-preview {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;

	&__wrapper {
		inset: 0 !important;
		max-width: none !important;
		background-color: $preview-background-color !important;
		transform: none !important;
	}

	&__video {
		max-width: 100%;
		max-height: 100%;
		outline: none;
	}

	&__close {
		position: absolute;
		top: unitfix(20);
		right: unitfix(20);
		padding: unitfix(4);
		font-size: unitfix(18);
		line-height: 1;
		color: $preview-close-color;
		cursor: pointer;
		background: transparent;
		border: 0;
	}
}
