@use '../../style/helper' as *;

$color-contrast-dark: varfix(color-contrast-dark, file-preview);
$color-contrast-light: varfix(color-contrast-light, file-preview);

.vc-video-preview {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;

	&__wrapper {
		max-width: none !important;
		margin: 0 !important; // 铺满视口，从左上角起排
		background-color: $color-contrast-dark !important;
	}

	&__video {
		max-width: 100%;
		max-height: 100%;
		outline: none;
	}

	&__close {
		position: absolute;
		top: unitfix(20);
		right: unitfix(20);
		padding: unitfix(4);
		font-size: unitfix(18);
		line-height: 1;
		color: $color-contrast-light;
		cursor: pointer;
		background: transparent;
		border: 0;
	}
}
