@use '../style/helper' as *;

$component-name: vc-drawer;
$color-dark-lightest: varfix(color-dark-lightest, drawer);
$color-mask: varfix(color-mask, drawer);
$color-neutral-light: varfix(color-neutral-light, drawer);
$background-color-lightest: varfix(background-color-lightest, drawer);
$box-shadow: varfix(box-shadow, drawer);

@include block($component-name) {
	@include element(mask){
		position: fixed;
		inset: 0;
		z-index: $popup-zindex;
		height: 100%;
		background-color: $color-mask;
	}

	@include element(wrapper) {
		position: fixed;
		z-index: $popup-zindex;
		background-color: $background-color-lightest;
		box-shadow: $box-shadow;
	}

	@include when(bottom) {
		@include element(wrapper) {
			right: 0;
			bottom: 0;
			left: 0;

			// padding-bottom: env(safe-area-inset-bottom);
		}
	}

	@include when(top) {
		@include element(wrapper) {
			top: 0;
			right: 0;
			left: 0;

			// padding-top: env(safe-area-inset-bottom);
		}
	}

	@include when(left) {
		@include element(wrapper) {
			top: 0;
			bottom: 0;
			left: 0;
		}
	}

	@include when(right) {
		@include element(wrapper) {
			top: 0;
			right: 0;
			bottom: 0;
		}
	}

	@include element(container) {
		position: relative;
		display: flex;
		height: 100%;
		padding-bottom: unitfix(57);
		background: $background-color-lightest;
		box-sizing: border-box;
		flex-direction: column;

		@include when(no-footer) {
			padding-bottom: 0;
		}
	}

	@include element(header) {
		position: relative;
		padding: unitfix(16) unitfix(28);
		font-size: unitfix(16);
		font-weight: 600;
		line-height: unitfix(24);
		border-bottom: unitfix(1) solid $color-neutral-light;
	}

	@include element(content-container) {
		overflow: hidden;
		flex: 1;

		> .vc-scroller {
			height: 100%;
		}
	}

	@include element(content) {
		padding: unitfix(16) unitfix(24);
		box-sizing: border-box;

		// scrollable=false：占满内容区并传递高度约束，内容的根节点设 min-height: 0 后由其内部滚动
		@include when(unscrollable) {
			display: flex;
			height: 100%;
			flex-direction: column;
		}
	}

	@include element(footer) {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: unitfix(12) unitfix(24);
		font-size: unitfix(12);
		text-align: right;
		border-top: unitfix(1) solid $color-neutral-light;
		box-sizing: border-box;
	}

	@include element(close) {
		position: absolute;
		top: unitfix(16);
		right: unitfix(28);
		font-size: unitfix(13);
		color: $color-dark-lightest;
		cursor: pointer;
	}

	@include element(cancel) {
		margin-right: unitfix(8);
	}
}
