@use 'sass:color';
@use '../style/helper' as *;

$color-contrast-dark: varfix(color-contrast-dark, sort-list);
$color-contrast-dark-frozen: themefrozen(color-contrast-dark);
$color-contrast-light: varfix(color-contrast-light, sort-list);
$component-name: vc-sort-list;
$mask-background-color-fallback: color.change($color-contrast-dark-frozen, $alpha: .6);
$mask-background-color: color-mix(in srgb, #{$color-contrast-dark} 60%, transparent);

@include block($component-name) {
	@include flex;

	flex-wrap: wrap;

	@include element(item) {
		position: relative;
		margin: unitfix(10);
		text-align: center;
		transition: opacity 0.5s;

		&[draggable="true"] {
			cursor: move;
		}

		&[draggable="false"] {
			cursor: no-drop;
		}

		&.is-move {
			transition: all 0.5s;
		}

		&:hover {
			@include element(mask) {
				opacity: 1;
				transition: opacity 0.5s;
			}
		}
	}

	@include element(mask) {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: space-around;
		color: $color-contrast-light;
		background: $mask-background-color-fallback;

		@supports (color: color-mix(in srgb, black, white)) {
			& {
				background: $mask-background-color;
			}
		}

		opacity: 0;
		box-sizing: border-box;

		> span {
			font-size: unitfix(18);
			cursor: pointer;
		}
	}
}
