@use '../style/helper' as *;

$component-name: vc-select-option;

@include block($component-name) {
	display: flex;
	padding: 7px 16px;
	font-size: 12px!important;
	line-height: normal;
	color: #666;
	white-space: nowrap;
	cursor: pointer;
	justify-content: space-between;
	align-items: center;

	&:hover {
		background-color: #e6f7ff;
	}

	@include when(select) {
		color: #5495f6;
		background-color: #fff;

		.vc-icon {
			color: #5495f6;
		}

		@include when(last) {
			background-color: #e6f7ff;
		}
	}
	
	&[disabled="disabled"] {
		color: #c5c8ce;
		pointer-events: none;
		cursor: not-allowed;
	}
}