@use '../style/helper' as *;

$component-name: vc-select-option-group;
$color-dark-extralight: varfix(color-dark-extralight, select-option-group);

@include block($component-name) {
	@include element(title) {
		height: unitfix(30);
		padding-left: unitfix(8);
		font-size: unitfix(12);
		line-height: unitfix(30);
		color: $color-dark-extralight;
	}
}
