@use '../style/helper' as *;

$component-name: vc-select-option;
$color-dark-lighter: varfix(color-dark-lighter, select-option);
$color-dark-extralight: varfix(color-dark-extralight, select-option);
$color-primary: varfix(color-primary, select-option);
$background-color-primary-light: varfix(background-color-primary-light, select-option);

@include block($component-name) {
	display: flex;
	padding: unitfix(7) unitfix(16);
	font-size: unitfix(12)!important;
	line-height: normal;
	color: $color-dark-lighter;
	white-space: nowrap;
	cursor: pointer;
	justify-content: space-between;
	align-items: center;

	&:not([disabled="disabled"]):hover {
		background-color: $background-color-primary-light;
	}

	@include when(select) {
		color: $color-primary;
		background-color: $background-color-primary-light;

		.vc-icon {
			color: inherit;
		}
	}
	
	&[disabled="disabled"] {
		color: $color-dark-extralight;
		pointer-events: none;
		cursor: not-allowed;
	}
}
