@use '../style/helper' as *;

$component-name: vc-select;
$background-color-light: varfix(background-color-light, select);
$background-color-disabled: varfix(background-color-disabled, select, varfix(background-color, select));
$color-dark-extralight: varfix(color-dark-extralight, select);
$color-dark-lighter: varfix(color-dark-lighter, select);

@include block($component-name) {
	position: relative;
	display: inline-flex;
	width: 100%;
	line-height: 1;

	@include element(input) {
		--vc-input-color-disabled: #{$background-color-disabled};

		cursor: pointer;
		background-color: $background-color-light;

		input {
			cursor: pointer;
		}

		.vc-input__append {
			z-index: 0;
		}

		.vc-input__content {
			overflow: hidden;
		}
	}

	@include element(append) {
		position: relative;
		padding: 0 unitfix(10) 0 unitfix(2);
		font-size: unitfix(12);
		line-height: unitfix(32);
		color: $color-dark-extralight;
		text-align: center;
		white-space: nowrap;
	}

	@include element(prepend) {
		padding-right: unitfix(5);
		padding-left: unitfix(12);
		font-weight: 400;
		color: $color-dark-lighter;
	}

	@include element(icon) {
		@include when(arrow) {
			transform: scale(0.8);
		}
	}

	@include element(tags) {
		padding-left: unitfix(4);

		.vc-tag {
			max-width: 100%;
			margin: unitfix(3) unitfix(4) unitfix(3) 0;

			.vc-tag__wrapper span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.vc-tag__close {
				margin-left: unitfix(5);
			}
		}
	}

	@include element(search) {
		display: flex;
		padding: unitfix(12) unitfix(8);
		justify-content: space-between;
		align-items: center;
	}

	@include element(options) {
		> .vc-scroller__wrapper {
			max-height: unitfix(200);
		}
	}

	@include element(loading) {
		padding-bottom: unitfix(8);
		text-align: center;
	}
}
