@use '../style/helper' as *;

$component-name: vc-select;

@include block($component-name) {
	position: relative;
	display: inline-flex;
	width: 100%;
	line-height: 1;

	@include element(input) {
		cursor: pointer;
		background-color: #fff;

		input {
			cursor: pointer;
		}

		.vc-input__append {
			z-index: 0;
		}

		.vc-input__content {
			overflow: hidden;
		}
	}

	@include element(append) {
		position: relative;
		padding: 0 10px 0 2px;
		font-size: 12px;
		line-height: 32px;
		color: #808695;
		text-align: center;
		white-space: nowrap;
	}

	@include element(prepend) {
		padding-right: 5px;
		padding-left: 12px;
		font-weight: 400;
		color: #4E5969;
	}

	@include element(icon) {
		@include when(arrow) {
			transform: scale(0.8);
		}
	}

	@include element(tags) {
		padding-left: 4px;

		.vc-tag {
			max-width: 100%;
			margin: 3px 4px 3px 0;

			.vc-tag__wrapper span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.vc-tag__close {
				margin-left: 5px;
			}
		}
	}

	@include element(search) {
		display: flex;
		padding: 12px 8px;
		justify-content: space-between;
		align-items: center;
	}

	@include element(loading) {
		padding-bottom: 8px;
		text-align: center;
	}
}