@import '../style/helper';

$component-name: vc-input-search;
$color-light-extradeep: varfix(color-light-extradeep, input);

@include block($component-name) {
	@include element(content) {
		position: relative;
		padding: 0 unitfix(8);
		font-size: unitfix(14);
		line-height: 28px;
		color: $color-light-extradeep;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		transition: all .2s ease-in-out;

		@include when(disabled) {
			cursor: not-allowed;
			opacity: .4;
		}
	}
}