@use '../style/helper' as *;

$component-name: vc-input-number;
$background-color-light: varfix(background-color-light, input);
$color-light-deeper: varfix(color-light-deeper, input);
$color-primary-light: varfix(color-primary-light, input);
$color-dark-extralight: varfix(color-dark-extralight, input);
$color-disabled: varfix(color-disabled, input);

@include block($component-name) {
	@include pseudo(hover) {
		.vc-input__append{
			z-index: 1;
		}

		@include element(icon){
			display: block;
		}
	}

	@include element(icon) {
		display: none;
		width: unitfix(20);
		height: unitfix(32);
		font-size: unitfix(12);
		color: $color-dark-extralight;
		flex-direction: column;
		justify-content: space-between;

		&:hover {
			color: $color-primary-light;
			cursor: pointer;
		}
	}

	@include share-rule(input-number-icon) {
		height: unitfix(16);
		line-height: unitfix(16);
		background-color: $background-color-light;
		user-select: none;

		@include border(left, $color-light-deeper); // 不占边距
		&[disabled="disabled"] {
			color: $color-dark-extralight;
			pointer-events: none;
			cursor: not-allowed;
			background-color: $color-disabled;
		}

		@include when(disabled) {
			display: none;	
		}

		> i {
			transform: scale(0.6);
		}

	}

	@include element(up) {
		@include extend-rule(input-number-icon);
		@include border(bottom); // 不占边距
	}

	@include element(down) {
		@include extend-rule(input-number-icon);
	}
}