@import '../../style/helper';

$component-name: vcm-list;
$component-child-name: vcm-list-item;
$background-color-light: varfix(background-color-light, list);
$color-dark: varfix(color-dark, list);
$color-dark-extralight: varfix(color-dark-extralight, list);

@include block($component-name) {
	@include when(border) {
		@include border(top);
		@include border(bottom);
	}

	background: $background-color-light;
}

@include block($component-child-name) {
	@include element(wrapper) {
		@include border(bottom);

		display: flex;
		padding-top: 12px;
		padding-right: 12px;
		padding-bottom: 12px;
		font-size: 16px;
		line-height: 24px;
		color: $color-dark;
		background: $background-color-light;

		// 单行
		@include when(line) {
			align-items: center;
			justify-content: space-between;
		}

		// 换行
		@include when(multi) {
			flex-direction: column;
		}

		@include when(alone) {
			@include pseudo(after) {
				display: none;
			}

			padding-top: unset;
			padding-right: unset;
			padding-bottom: unset;
		}
	}

	@include element(content) {
		display: flex;
		align-items: center;
	}

	@include element(extra) {
		color: $color-dark-extralight;
	}

	@include element(icon) {
		margin-left: 5px;
		font-size: 13px;
		color: $color-dark-extralight;
	}

	&:last-child .vcm-list-item__wrapper::after {
		display: none;
	}
}