@use '../../style/helper' as *;

$component-name: vcm-list;
$component-child-name: vcm-list-item;
$color-dark: varfix(color-dark, list);
$color-dark-extralight: varfix(color-dark-extralight, list);
$color-neutral-light: varfix(color-neutral-light, list);
$background-color-lightest: varfix(background-color-lightest, list);

@include block($component-name) {
	& {
		background: $background-color-lightest;
	}

	@include when(border) {
		@include border(top, $color-neutral-light);
		@include border(bottom, $color-neutral-light);
	}
}

@include block($component-child-name) {
	@include element(wrapper) {
		@include border(bottom, $color-neutral-light);

		& {
			display: flex;
			padding-top: 12px;
			padding-right: 12px;
			padding-bottom: 12px;
			font-size: 16px;
			line-height: 24px;
			color: $color-dark;
			background: $background-color-lightest;
		}

		// 单行
		@include when(line) {
			align-items: center;
			justify-content: space-between;
		}

		// 换行
		@include when(multi) {
			flex-direction: column;
		}

		@include when(alone) {
			@include pseudo(after) {
				display: none;
			}

			padding-top: unset;
			padding-right: unset;
			padding-bottom: unset;
		}
	}

	@include element(content) {
		display: flex;
		align-items: center;
	}

	@include element(extra) {
		color: $color-dark-extralight;
	}

	@include element(icon) {
		margin-left: 5px;
		font-size: 13px;
		color: $color-dark-extralight;
	}

	&:last-child .vcm-list-item__wrapper::after {
		display: none;
	}
}
