@use '../style/helper' as *;

$component-name: vc-timeline;

@include block($component-name) {
	@include when(horizontal) {
		display: flex;

		&.is-center {
			min-height: unitfix(200);
			align-items: center;
		}
	}
}
