@use '../style/helper' as *;

$color-arrow: varfix(color-arrow, carousel, #fff);
$background-color-arrow: varfix(background-color-arrow, carousel, rgb(31 45 61 / 11%));
$background-color-arrow-hover: varfix(background-color-arrow-hover, carousel, rgb(31 45 61 / 23%));
$background-color-dot: varfix(background-color-dot, carousel, #fff);
$background-color-dot-outside: varfix(background-color-dot-outside, carousel, #C0C4CC);
$component-name: vc-carousel;

@include block($component-name) {
	position: relative;

	@include when(horizontal) {
		overflow-x: hidden;
	}

	@include when(vertical) {
		overflow-y: hidden;
	}

	@include element(wrapper) {
		position: relative;
		height: 300px;
	}

	@include element(arrow) {
		position: absolute;
		top: 50%;
		z-index: 10;
		width: 36px;
		height: 36px;
		padding: 0;
		margin: 0;
		margin-top: -18px;
		font-size: 12px;
		color: $color-arrow;
		text-align: center;
		cursor: pointer;
		background-color: $background-color-arrow;
		border: none;
		border-radius: 50%;
		outline: none;
		transition: .3s;

		@include when(left-arrow) {
			left: 16px;
		}

		@include when(right-arrow) {
			right: 16px;
		}

		&:hover {
			background-color: $background-color-arrow-hover;
		}
	}

	@include element(dots) {
		position: absolute;
		z-index: 2;
		padding: 0;
		margin: 0;
		list-style: none;

		@include when(horizontal) {
			bottom: 0;
			display: flex;
			width: 100%;
			justify-content: center;
			flex-wrap: wrap;
		}

		@include when(vertical) {
			top: 0;
			right: 0;
			display: flex;
			height: 100%;
			flex-flow: column wrap;
			justify-content: center;
		}

		@include when(outside) {
			position: static;
			bottom: 26px;
			text-align: center;
			transform: none;

			.vc-carousel__dot:hover button {
				opacity: 0.64;
			}

			button {
				background-color: $background-color-dot-outside;
				opacity: 0.24;
			}
		}

		@include when(labels) {
			right: 0;
			left: 0;
			text-align: center;
			transform: none;

			.vc-carousel__button {
				width: auto;
				height: auto;
				padding: 2px 18px;
				font-size: 12px;
			}

			.vc-carousel__dot {
				padding: 6px 4px;
			}
		}
	}

	@include element(dot) {
		cursor: pointer;
		background-color: transparent;

		&:hover button {
			opacity: 0.72;
		}

		@include when(horizontal) {
			display: inline-block;
			padding: 12px 4px;
		}

		@include when(vertical) {
			padding: 4px 12px;

			.vc-carousel__button {
				width: 2px;
				height: 15px;
			}
		}

		@include when(active) {
			button {
				opacity: 1;
			}
		}
	}

	@include element(button) {
		display: block;
		width: 30px;
		height: 2px;
		padding: 0;
		margin: 0;
		cursor: pointer;
		background-color: $background-color-dot;
		border: none;
		outline: none;
		opacity: 0.48;
		transition: .3s;
	}
}
