@use '../../style/helper' as *;

$component-name: vcm-form;
$component-item-name: vcm-form-item;
$color-dark: varfix(color-dark, form);
$color-error: varfix(color-error, form);
$background-color-light: varfix(background-color-light, form);

@include block($component-name) {
	color: $color-dark;
	background: $background-color-light;

	@include when(border) {
		@include border(top);
		@include border(bottom);
	}
}

@include block($component-item-name) {
	@include element(wrapper) {
		padding-top: unitfix(20);
		padding-right: unitfix(12);
		padding-bottom: unitfix(20);

		@include border(bottom);
	}

	@include pseudo(last-child) {
		@include element(wrapper) {
			::after {
				display: none;
			}
		}
	}

	@include element(content) {
		position: relative;
		font-size: unitfix(16);
		line-height: unitfix(24);
	}

	@include element(label) {
		float: left;
		font-size: unitfix(16);
		line-height: unitfix(24);
		color: $color-dark;
		text-align: right;
		vertical-align: middle;
		box-sizing: border-box;
	}

	@include when(required) {
		> {
			@include element(label) {
				&::before {
					display: inline-block;
					margin-right: 4px;
					font-family: SimSun;
					font-size: unitfix(12);
					line-height: 1;
					color: $color-error;
					content: '*';
				}
			}
		}
	}

	@include when(left) {
		@include element(label) {
			text-align: left;
		}
	}

	@include when(top) {
		@include element(label) {
			display: inline-block;
			float: none;
			padding: 0 0 unitfix(10);
		}
	}

	@include when(nested) {
		@include element(wrapper) {
			padding-top: unitfix(0);
			padding-right: unitfix(0);
			padding-bottom: unitfix(0);

			::after {
				border-bottom: unset;
			}
		}
	}

	@include element(error) {
		position: absolute;
		top: 100%;
		left: 0;
		padding-top: 3px;
		font-size: 13px;
		line-height: 1;
		color: $color-error;

		@include when(nested) {
			display: inline-block;
		}
	}
}
