@use '../style/helper' as *;

$color-contrast-light: varfix(color-contrast-light, upload-picker);
$color-dark-extralight: varfix(color-dark-extralight, upload-picker);
$color-neutral-light: varfix(color-neutral-light, upload-picker);
$color-primary-light: varfix(color-primary-light, upload-picker);
$background-color: varfix(background-color, upload-picker);
$component-name: vc-upload-picker;

@include block($component-name) {
	display: flex;
	font-size: 12px;
	box-sizing: border-box;
	flex-wrap: wrap;

	@include share-rule(box) {
		width: 64px;
		height: 64px;
		cursor: pointer;
		border-radius: 4px;
	}

	@include element(item) {
		margin-right: 12px;
		margin-bottom: 12px;

		@include extend-rule(box);
	}

	@include element(delete) {
		position: absolute;
		top: -6px;
		right: -6px;
		z-index: 1;
		width: 14px;
		height: 14px;
		font-size: 14px;
		color: $color-contrast-light;
		background-color: $color-primary-light;
		border-radius: 7px;
	}

	@include element(upload) {
		margin-right: 12px;
		margin-bottom: 12px;
	}

	@include element(box) {
		display: flex;
		line-height: 1;
		color: $color-dark-extralight;
		background-color: $background-color;
		border: 1px dashed $color-neutral-light;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		@include extend-rule(box);
	}

	@include element(plus-icon) {
		font-size: 14px;
	}

	.vc-sort-list > div {
		margin: 0;
	}
}
