@use '../style/helper' as *;

$foreground: varfix(color-dark-lightest, progress);
$primary: varfix(color-primary, progress);
$success: varfix(color-success, progress);
$error: varfix(color-error, progress);
$active: varfix(active-overlay-color, progress, #fff);

@include block(vc-progress) {
	font-size: unitfix(12);
	color: $foreground;
}

@include block(vc-progress-line) {
	@include element(wrapper) {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		box-sizing: border-box;

		@include when(text, true) {
			padding-right: unitfix(33);
			margin-right: unitfix(-30);
		}

		@include element(box) {
			width: 100%;
			overflow: hidden;
			border-radius: unitfix(8);

			@include when(error) {
				border: 1px solid $error;
			}

			@include element(inner) {
				position: relative;
				background-color: $primary;
				border-radius: unitfix(8);
				transition: width .5s cubic-bezier(.075,.82,.165,1);

				@include when(success) {
					background-color: $success;
				}

				@include when(error) {
					background-color: $error;
				}

				@include when(active) {
					&::before{
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						background-color: $active;
						border-radius: unitfix(8);
						content: '';
						animation: vc-progress-line-width 2s infinite;
					}
				}
			}
		}
	}

	@include element(percent) {
		display: inline-block;
		line-height: 1;
		vertical-align: middle;

		@include element(icon) {
			@include when(success) {
				font-size: unitfix(12);
				color: $success;
			}

			@include when(error) {
				font-size: unitfix(12);
				color: $error;
			}
		}
	}

	@keyframes vc-progress-line-width {
		0%{
			width: 0;
			opacity: 0;
		}

		40%{
			opacity: .2;
		}

		80%{
			width: 100%;
			opacity: 0;
		}

		100%{
			width: 100%;
			opacity: 0;
		}
	}
}

@include block(vc-progress-circle) {
	@include element(box) {
		width: unitfix(120);
		height: unitfix(120);

		@include element(inner){
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
