@use '../style/helper' as *;

$component-name: vc-color-picker-alpha;
$alpha-background: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==';
$color-light: varfix(color-light, color-picker);
$color-light-deeper: varfix(color-light-deeper, color-picker);
$mask-color-dark: varfix(mask-color-dark, color-picker);

@include block($component-name) {
	position: relative;
	width: 100%;
	height: unitfix(10);
	margin-top: unitfix(8);
	cursor: pointer;
	background: url($alpha-background);
	box-sizing: border-box;

	@include element(bar) {
		position: relative;
		height: 100%;
	}

	@include element(thumb) {
		position: absolute;
		top: 0;
		left: unitfix(100);
		z-index: 1;
		width: unitfix(4);
		height: 100%;
		cursor: pointer;
		background: $color-light;
		border: unitfix(1) solid $color-light-deeper;
		border-radius: unitfix(1);
		box-shadow: 0 0 unitfix(2) $mask-color-dark;
		box-sizing: border-box;
	}
}
