@use '../style/helper' as *;

$component-name: vc-color-picker;
$background-color-light: varfix(background-color-light, color-picker);
$color-light-deeper: varfix(color-light-deeper, color-picker);
$color-dark-light: varfix(color-dark-light, color-picker);
$color-dark-extralight: varfix(color-dark-extralight, color-picker);
$color-primary: varfix(color-primary, color-picker);
$color-disabled: varfix(color-disabled, color-picker);

@include block($component-name) {
	display: inline-flex;

	@include element(box) {
		position: relative;
		display: inline-block;
		width: 100%;
		line-height: 0;
		vertical-align: middle;
		cursor: pointer;

		&:hover {
			@include element(input) {
				border-color: $color-primary;
			}
		}
	}

	@include when(disabled) {
		color: $color-dark-extralight;
		cursor: not-allowed;
		background-color: $color-disabled;
		opacity: 1;

		&:hover {
			@include element(input) {
				border-color: $color-light-deeper;
			}
		}
	}

	@include element(append) {
		position: relative;
		padding: 0 unitfix(10) 0 unitfix(2);
		font-size: unitfix(12);
		line-height: unitfix(32);
		color: $color-dark-extralight;
		text-align: center;
		white-space: nowrap;
	}

	@include element(input) {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: unitfix(7) unitfix(6) unitfix(6) unitfix(7);
		font-size: unitfix(14);
		line-height: 1.5;
		color: $color-dark-light;
		background-color: $background-color-light;
		background-image: none;
		border-radius: unitfix(4);
		box-sizing: border-box;
		transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
	}

	@include when(large) {
		@include element(color) {
			width: unitfix(20);
			height: unitfix(20);
		}

		@include element(input) {
			height: unitfix(40);
			padding: unitfix(10) unitfix(6) unitfix(6) unitfix(7);
			font-size: unitfix(16);
		}

		@include element(icon) {
			height: unitfix(40);
			font-size: unitfix(12);
			line-height: unitfix(40);
		}
	}

	@include when(small) {
		@include element(box) {
			min-height: unitfix(24);
		}

		@include element(append) {
			height: unitfix(24);
			line-height: unitfix(24);
		}

		.vc-input__append, .vc-input__prepend {
			height: unitfix(24);
			line-height: unitfix(24);
		}

		@include element(color) {
			width: unitfix(14);
			height: unitfix(14);
		}

		@include element(input) {
			height: unitfix(24);
			padding: unitfix(5) unitfix(6) unitfix(4) unitfix(7);
		}

		@include element(icon) {
			height: unitfix(24);
			font-size: unitfix(10);
			line-height: unitfix(24);
		}
	}

	@include element(color) {
		width: unitfix(18);
		height: unitfix(18);
		border-radius: unitfix(2);

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			border-radius: unitfix(2);
			box-shadow: inset 0 0 0 unitfix(1) rgb(0 0 0 / 15%);
		}

		.vc-icon {
			font-size: unitfix(10);
			color: $color-dark-extralight;
			transform: scale(.6);
		}
	}

	@include element(wrapper) {
		width: unitfix(256);
		padding: unitfix(8) unitfix(8) 0;
	}

	@include element(confirm) {
		padding: unitfix(8);
		margin-top: unitfix(8);
		clear: both;
		text-align: right;
		border-top: unitfix(1) solid $color-light-deeper;

		.vc-btn {
			height: unitfix(24);
			padding: 0 unitfix(9);
			line-height: 1.5;
		}

		.is-default {
			margin-right: unitfix(2);
		}
	}

	@include element(value) {
		float: left;
		width: unitfix(138);
		height: unitfix(24);
		font-size: unitfix(14);
		line-height: unitfix(24);
		text-align: left;

		.vc-input {
			height: unitfix(24);
			min-height: unitfix(24);

			input {
				padding: unitfix(4) unitfix(7);
			}
		}
	}
}
