@use '../style/helper' as *;

$component-name: vc-dropdown;
$color: varfix(color-dark-lighter, dropdown);
$color-primary: varfix(color-primary, dropdown);
$background-hover: varfix(color-primary-lighter, dropdown);
$color-disabled: varfix(color-dark-extralight, dropdown);
$border-color: varfix(color-light-deeper, dropdown);

@include block(vc-dropdown) {
	display: inline-block;
}

@include block(vc-dropdown-menu) {
	min-width: unitfix(100);
	padding: 0;
	margin: 0;
	list-style: none;
}

@include block(vc-dropdown-item) {
	position: relative;
	padding: unitfix(7) unitfix(16);
	margin: 0;
	clear: both;
	font-size: unitfix(12) !important;
	line-height: normal;
	color: $color;
	white-space: nowrap;
	list-style: none;
	cursor: pointer;
	box-sizing: border-box;
	transition: background .2s ease-in-out;


	&:hover {
		color: $color-primary;
		background-color: $background-hover;
	}

	@include when(disabled) {
		color: $color-disabled;
		cursor: not-allowed;

		&:hover {
			background-color: transparent;
		}
	}

	@include when(selected) {
		color: $color-primary;
	}

	@include when(divided) {
		margin-top: unitfix(5);

		@include border('top', $border-color); }
}
