@use '../style/helper' as *;

$component-name: vc-dropdown;
$color-dark-lighter: varfix(color-dark-lighter, dropdown);
$color-dark-extralight: varfix(color-dark-extralight, dropdown);
$color-neutral-light: varfix(color-neutral-light, dropdown);
$color-primary: varfix(color-primary, dropdown);
$background-color-primary-light: varfix(background-color-primary-light, dropdown);

@include block(vc-dropdown) {
	display: inline-block;
}

@include block(vc-dropdown-menu) {
	min-width: unitfix(100);
	padding: 0;
	margin: 0;
	list-style: none;
}

@include block(vc-dropdown-item) {
	position: relative;
	padding: unitfix(7) unitfix(16);
	margin: 0;
	clear: both;
	font-size: unitfix(12) !important;
	line-height: normal;
	color: $color-dark-lighter;
	white-space: nowrap;
	list-style: none;
	cursor: pointer;
	box-sizing: border-box;
	transition: background .2s ease-in-out;


	&:hover {
		color: $color-primary;
		background-color: $background-color-primary-light;
	}

	@include when(disabled) {
		color: $color-dark-extralight;
		cursor: not-allowed;

		&:hover {
			background-color: transparent;
		}
	}

	@include when(selected) {
		color: $color-primary;
	}

	@include when(divided) {
		margin-top: unitfix(5);

		@include border('top', $color-neutral-light); }
}
