@use '../style/helper' as *;

$component-name: vc-dropdown;

@include block(vc-dropdown) {
	display: inline-block;
}

@include block(vc-dropdown-menu) {
	min-width: 100px;
	padding: 0;
	margin: 0;
	list-style: none;
}

@include block(vc-dropdown-item) {
	position: relative;
	padding: 7px 16px;
	margin: 0;
	clear: both;
	font-size: 12px !important;
	line-height: normal;
	color: #666;
	white-space: nowrap;
	list-style: none;
	cursor: pointer;
	box-sizing: border-box;
	transition: background .2s ease-in-out;


	&:hover {
		color: #456CF6;
		background-color: #e6f7ff;
	}

	@include when(disabled) {
		color: #c5c8ce;
		cursor: not-allowed;

		&:hover {
			background-color: #fff;
		}
	}

	@include when(selected) {
		color: #456CF6;
	}

	@include when(divided) {
		margin-top: 5px;

		@include border('top', #e8eaec); }
}