@use 'sass:color';
@use '../../style/helper' as *;

$color-contrast-dark: varfix(color-contrast-dark, popup);
$color-contrast-dark-frozen: themefrozen(color-contrast-dark);
$color-contrast-light: varfix(color-contrast-light, popup);
$color-mask: varfix(color-mask, popup);
$background-color-lightest: varfix(background-color-lightest, popup);
$foreground-color: varfix(foreground-color, popup);
$component-name: vcm-popup;
$dark-background-color-fallback: color.change($color-contrast-dark-frozen, $alpha: .3);
$dark-background-color: color-mix(in srgb, #{$color-contrast-dark} 30%, transparent);

@include block($component-name) {
	@include element(mask) {
		position: fixed;
		inset: 0;
		z-index: 1000;
		height: 100%;
		background-color: $color-mask;
	}

	@include element(wrapper) {
		z-index: 1000;
	}

	@include when(bottom) {
		@include element(wrapper) {
			right: 0;
			bottom: 0;
			left: 0;

			// padding-bottom: env(safe-area-inset-bottom);
		}
	}

	@include when(top) {
		@include element(wrapper) {
			top: 0;
			right: 0;
			left: 0;

			// padding-top: env(safe-area-inset-bottom);
		}
	}

	@include when(left) {
		@include element(wrapper) {
			top: 0;
			bottom: 0;
			left: 0;
		}
	}

	@include when(right) {
		@include element(wrapper) {
			top: 0;
			right: 0;
			bottom: 0;
		}
	}

	@include when(center) {
		@include element(wrapper) {
			@include position-center;
		}
	}

	@include when(fixed) {
		@include element(wrapper) {
			position: fixed;
		}
	}

	@include when(dark) {
		@include element(wrapper) {
			color: $color-contrast-light;
			background: $dark-background-color-fallback;

			@supports (color: color-mix(in srgb, black, white)) {
				& {
					background: $dark-background-color;
				}
			}
		}
	}

	@include when(light) {
		@include element(wrapper) {
			color: $foreground-color;
			background-color: $background-color-lightest;
		}
	}
}
