@use '../../style/helper' as *;

$component-name: vcm-switch;
$track-color: varfix(track-color, switch, varfix(background-color-light, switch));
$border-color: varfix(border-color, switch, #e5e5e5);
$checked-color: varfix(checked-color, switch, #53d769);
$content-color: varfix(content-color, switch, #fff);
$thumb-color: varfix(thumb-color, switch, #fff);
$thumb-border-color: varfix(thumb-border-color, switch, rgb(0 0 0 / 13%));
$thumb-shadow: varfix(thumb-shadow, switch, (0 0 8px 0 rgb(0 0 0 / 11%), 0 6px 7px 1px rgb(0 0 0 / 15%)));
$loading-color: varfix(loading-color, switch, #fff);

@include block($component-name) {
	position: relative;
	display: inline-block;
	width: 51px;
	height: 31px;
	line-height: 32px;
	vertical-align: middle;
	cursor: pointer;
	background-color: $track-color;
	border: 2px solid $border-color;
	border-radius: 31px;
	box-sizing: border-box;
	transition: all .2s ease-in-out;
	user-select: none;

	@include element(content) {
		position: absolute;
		left: 30px;
		font-size: 14px;
		line-height: 28px;
		color: $checked-color;
	}

	@include element(inner) {
		position: absolute;
		top: -1px;
		left: -1px;
		width: 28px;
		height: 28px;
		cursor: pointer;
		background-color: $thumb-color;
		border: 1px solid $thumb-border-color;
		border-radius: 28px;
		content: '';
		box-shadow: $thumb-shadow;
		transition: left .2s ease-in-out,width .2s ease-in-out;
	}

	@include element(loading) {
		position: absolute;
		top: 6px;
		left: 6px;
		z-index: 1;
		width: 14px;
		height: 14px;
		color: $loading-color;
		opacity: .4;
	}

	@include when(checked) {
		background-color: $checked-color;
		border-color: $checked-color;

		@include element(content) {
			left: 3px;
			color: $content-color;
		}

		@include element(inner) {
			left: 20px;
		}

		@include element(loading) {
			left: 25px;
		}
	}
}
