/**
 * 采用CSS Variables
 * 1. 兼容问题暂不考虑，如需处理引入一段js，强制样式为指定值
 *
 * 如primary-color: *
 * 不要设置--black: black; 这是具体色值，即具体值移入./default.scss
 *
 * 命名规则：新的分类 -> *-default, *-xx
 */
$theme: (
	// 默认, 用于背景色的反转
	background-color: (light: #f5f6fa, dark: #252b3a),
	background-color-light: (light: #fff, dark: #252b3a),
	
	// 默认
	foreground-color: (light: #080F20, dark: #f8f8f8),
	foreground-color-dark: (light: #000, dark: #f8f8f8),

	// 蒙层-亮度
	mask-color: (light: rgba(0, 0, 0, 0.4), dark: rgba(255, 255, 255, 0.4)),
	mask-color-dark: (light: rgba(0, 0, 0, 0.75), dark: rgba(255, 255, 255, 0.75)),

	// 亮色系-亮度
	color-light: (light: #ffffff, dark: #000000),
	color-light-deep: (light: #F3F4F6, dark: #C0C4CC),
	color-light-deeper: (light: #EBEDEF, dark: #D5D9E1),
	color-light-deepest: (light: #C0C4CC, dark: #e8e8e8),
	color-light-extradeep: (light: #b9b9b9, dark: #f8f8f8),

	// 暗色系-亮度
	color-dark: (light: #000000, dark: #ffffff),
	color-dark-light: (light: #080F20, dark: #e8e8e8),
	color-dark-lighter: (light: #515151, dark: #d9d9d9),
	color-dark-lightest: (light: #64758B, dark: #c9c9c9),
	color-dark-extralight: (light: #909399, dark: #b9b9b9),

	// 提醒色-亮度
	color-primary: #2B72FD,
	color-primary-light: #4A96FF,
	color-primary-lighter: rgba(45, 140, 240, .2),

	color-success: #1DB88C,
	color-success-light: #47cb89,

	color-error: #f04134,
	color-error-light: #f16643,

	color-warning: #e6a23c,
	color-warning-light: #ebb563,

	color-disabled: #EBEEF5,
	color-disabled-light: #f4f4f4,

	// 圆角
	border-radius: 8px,
	border-shadow: (light: 0 0 8px 0 rgba(0, 0, 0, .1), dark: 0 0 8px 0 rgba(255, 255, 255, .05)),
	border-shadow-top: (light: 0 -2px 10px 0 rgba(0, 0, 0, .08), dark: 0 -2px 10px 0 rgba(255, 255, 255, .05)),

	// 行高 / 限高
	line-height: 16px,
	line-height-limit: 32px,

	// 字体尺寸
	font-size: 14px,
	font-size-large: 16px,

) !default;