@use 'sass:map';
@use 'sass:meta';
@use "./theme" as *;

@mixin generate-theme($light: true) {
	@if $light {
		@each $key, $value in $theme {
			--vc-#{$key}: #{if(sass(meta.type-of($value) == "map"): map.get($value, "light"); else: $value)};
		}
	} @else {
		@each $key, $value in $theme {
			--vc-#{$key}: #{if(sass(meta.type-of($value) == "map"): if(sass(map.get($value, "dark")): map.get($value, "dark"); else: map.get($value, "light")); else: $value)};
		}
	}
}

// 跟随系统
@media (prefers-color-scheme: light) {
	:root {
		@include generate-theme(true); }
}

@media (prefers-color-scheme: dark) {
	:root {
		@include generate-theme(false); }
}

// 可以在body标签上强制设置
[data-vc-theme="light"] {
	@include generate-theme(true); }

[data-vc-theme="dark"] {
	@include generate-theme(false); }


