/**
 * 采用CSS Variables
 * 1. 兼容问题暂不考虑，如需处理引入一段js，强制样式为指定值
 *
 * 如primary-color: *
 * 不要设置--black: black; 这是具体色值，即具体值移入./color.scss
 *
 * 命名规则：新的分类 -> *-default, *-xx
 */
$theme: (
	color-default: #f5f6fa,
	color-highlight: #5495f6,
	color-info: #0177de,
	color-success: #00a854,
	color-error: #f04134,
	color-warning: #ffbf00,

	// 背景颜色
	background-color-default: #f5f6fa,
	background-color-highlight: #5495f6,

	// 圆角
	border-radius-default: 8px,
	border-shadow-default: 0 0 8px 0 rgba(0, 0, 0, 0.1),
	border-shadow-default-top: 0 -2px 10px 0 rgba(0, 0, 0, 0.08),

	// 行高
	line-height-default: 16px,
	line-height-limit: 32px, //限高

	// 边框
	border-color-default: #c9c9c9,

	// 字体尺寸
	font-size-default: 14px,
	font-size-large: 16px,

	// 滚动条
	scrollbar-track-bg-color: rgba(0, 0, 0, 0),
	scrollbar-thumb-bg-color: rgba(0, 0, 0, 0.2),
	scrollbar-track-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0)
) !default;

*, :after, :before {
	@each $key, $value in $theme {
		--vc-#{$key}: #{$value};
	}
}