@use '../style/helper' as *;

$component-name: vc-scroller-wheel;

@include block($component-name) {
	position: relative;
	overflow: hidden;
	will-change: transform; // 和原生滚动条一样进行分层（开发者工具打开Layers）

	@include when(hidden) {
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	@include when(native) {
		overflow: auto;
		will-change: unset;
	}
}