@import '../style/helper';

$component-name: vc-scroller-wheel;

@include block($component-name) {
	position: relative;
	overflow: hidden;

	@include when(hidden) {
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	@include when(native) {
		overflow: auto;
	}
}