@import '../style/helper';

$component-name: vc-scroller;

@include block($component-name) {
	position: relative;

	@include element(wrapper) {
		height: 100%;
		overflow: auto;
		
		@include when(hidden) {
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}