@import '../style/helper';

$component-name: vc-scroller-track;

@include block($component-name) {
	position: absolute;
	z-index: 1;
	border-radius: unitfix(4);

	@include when(vertical) {
		top: 0;
		right: 0;
		bottom: 0;
		width: unitfix(6);

		> div {
			width: 100%;
		}
	}

	@include when(horizontal) {
		right: 0;
		bottom: 0;
		left: 0;
		height: unitfix(6);

		> div {
			height: 100%;
		}
	}

	@include element(thumb) {
		position: relative;
		display: block;
		width: 0;
		height: 0;
		cursor: pointer;
		background-color: rgb(37 36 36 / 57%);
		border-radius: inherit;
		transition: .3s background-color;
		will-change: transform,  	background-color;
		
		&:hover {
			background-color: rgb(37 36 36 / 70%);
		}
	}
}