@use '../style/helper' as *;

.vc-editor .ql-editor,
.vc-editor-view .ql-editor {
	padding: 0;
}

.vc-editor .ql-snow .ql-tooltip::before {
	content: var(--vc-editor-label-open);
}

.vc-editor .ql-snow .ql-tooltip a.ql-action::after {
	content: var(--vc-editor-label-edit);
}

.vc-editor .ql-snow .ql-tooltip a.ql-remove::before {
	content: var(--vc-editor-label-remove);
}

.vc-editor .ql-snow .ql-tooltip[data-mode="link"]::before {
	content: var(--vc-editor-label-link);
}

.vc-editor .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
	padding-right: 0;
	border-right: 0;
	content: var(--vc-editor-label-save);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-label::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-item::before {
	content: var(--vc-editor-label-text);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
	content: var(--vc-editor-label-heading-1);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
	content: var(--vc-editor-label-heading-2);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
	content: var(--vc-editor-label-heading-3);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
	content: var(--vc-editor-label-heading-4);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
	content: var(--vc-editor-label-heading-5);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
	content: var(--vc-editor-label-heading-6);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-font-size {
	width: unitfix(60);
}

// 行高css
.vc-editor :is(.ql-snow, .ql-bubble) .ql-line-height::before {
	position: relative;
	content: var(--vc-editor-label-line-height);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-line-height {
	display: inline-flex;
	width: auto;
	min-width: unitfix(100);
	align-items: center;
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-line-height .ql-picker-label {
	width: unitfix(55);
}

// 字体间距css
.vc-editor :is(.ql-snow, .ql-bubble) .ql-letter-spacing::before {
	position: relative;
	content: var(--vc-editor-label-letter-spacing);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-letter-spacing {
	display: inline-flex;
	width: auto;
	min-width: unitfix(120);
	align-items: center;
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-letter-spacing .ql-picker-label {
	width: unitfix(55);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-font .ql-picker-label::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-font .ql-picker-item::before {
	content: var(--vc-editor-label-font);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-font .ql-picker-label[data-value="serif"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-font .ql-picker-item[data-value="serif"]::before {
	content: var(--vc-editor-label-serif);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-font .ql-picker-label[data-value="monospace"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-font .ql-picker-item[data-value="monospace"]::before {
	content: var(--vc-editor-label-monospace);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-size .ql-picker-label::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-size .ql-picker-item::before {
	content: var(--vc-editor-label-text);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-size .ql-picker-label[data-value="small"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-size .ql-picker-item[data-value="small"]::before {
	content: var(--vc-editor-label-small);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-size .ql-picker-label[data-value="large"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
	content: var(--vc-editor-label-large);
}

.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-size .ql-picker-label[data-value="huge"]::before,
.vc-editor :is(.ql-snow, .ql-bubble) .ql-picker.ql-size .ql-picker-item[data-value="huge"]::before {
	content: var(--vc-editor-label-huge);
}

.vc-editor .ql-snow .ql-tooltip[data-mode="formula"]::before {
	content: var(--vc-editor-label-formula);
}

.vc-editor .ql-snow .ql-tooltip[data-mode="video"]::before {
	content: var(--vc-editor-label-video);
}
