@use 'sass:color';
@use '../../style/helper' as *;

$color-contrast-dark: varfix(color-contrast-dark, upload-picker);
$color-contrast-dark-frozen: themefrozen(color-contrast-dark);
$color-contrast-light: varfix(color-contrast-light, upload-picker);
$color-dark-extralight: varfix(color-dark-extralight, upload-picker);
$background-color: varfix(background-color, upload-picker);
$component-name: vcm-upload-picker;
$delete-background-fallback: color.change($color-contrast-dark-frozen, $alpha: .4);
$delete-background: color-mix(in srgb, #{$color-contrast-dark} 40%, transparent);

@include block($component-name) {
	display: flex;
	font-size: 12px;
	box-sizing: border-box;
	flex-wrap: wrap;

	@include share-rule(box) {
		width: 78px;
		height: 78px;
		cursor: pointer;
		border-radius: 2px;
	}

	@include element(item) {
		margin-right: 8px;
		margin-bottom: 8px;

		@include extend-rule(box);
	}

	@include element(delete) {
		@include flex-cc;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 15px;
		height: 15px;
		font-size: 7px;
		color: $color-contrast-light;
		background: $delete-background-fallback;

		@supports (color: color-mix(in srgb, black, white)) {
			& {
				background: $delete-background;
			}
		}

		border-radius: 2px;
	}

	@include element(upload) {
		margin-right: 8px;
		margin-bottom: 8px;
	}

	@include element(box) {
		@include flex-cc;

		line-height: 1;
		color: $color-dark-extralight;
		background-color: $background-color;
		flex-direction: column;

		@include extend-rule(box);
	}

	@include element(plus-icon) {
		font-size: 30px;
	}

	.vcm-sort-list > div {
		margin: 0;
	}
}
