@use '../../style/helper' as *;

$component-name: vcm-upload-picker;
$background-color: varfix(background-color, upload-picker);
$color-light: varfix(color-light, upload-picker);
$color-dark-extralight: varfix(color-dark-extralight, upload-picker);
$mask-color: varfix(mask-color, upload-picker);

@include block($component-name) {
	display: flex;
	font-size: 12px;
	box-sizing: border-box;
	flex-wrap: wrap;

	@include share-rule(box) {
		width: 78px;
		height: 78px;
		cursor: pointer;
		border-radius: 2px;
	}

	@include element(item) {
		margin-right: 8px;
		margin-bottom: 8px;

		@include extend-rule(box);
	}

	@include element(delete) {
		@include flex-cc;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 15px;
		height: 15px;
		font-size: 7px;
		color: $color-light;
		background: $mask-color;
		border-radius: 2px;
	}

	@include element(upload) {
		margin-right: 8px;
		margin-bottom: 8px;
	}

	@include element(box) {
		@include flex-cc;

		line-height: 1;
		color: $color-dark-extralight;
		background-color: $background-color;
		flex-direction: column;

		@include extend-rule(box);
	}

	@include element(plus-icon) {
		font-size: 30px;
	}

	.vcm-sort-list > div {
		margin: 0;
	}
}
